<div class="text-center">
    <h1> Important Coronavirus Updates</h1>
</div>


<div>
    <p>
        Since the beginning of the New Year, and the new lockdown precautions within the UK, there have been several new Covid-19 schemes aimed at small businesses and those who are Self-Employed. With the third lockdown looking to be extended into March, and even potentially into the Summer, we have compiled a short list of new schemes which have been introduced in the interest of helping those in need.
    </p>
    <h4>
        Paying Deferred VAT and correcting errors
    </h4>
    <p>
        If you have found that an error has occurred in calculation of VAT for the accounting periods, February, March, April or May 2020 covered by the VAT deferral scheme, you can now contact the Covid-19 helpline to inform HMRC. The link to the helpline can be found here: https://www.gov.uk/government/organisations/hm-revenue-customs/contact/coronavirus-covid-19-helpline
        This correction may and can be noted after HMRC have calculated the error correction and you have received a Statement of Account, confirming the balance. After this, you can then pay VAT in full by 31 March 2021, include the payments when opting-in to the new VAT deferral scheme or contact HMRC if you are in need of more help.
        If you have not spotted the error, you may be contacted by HMRC if they have found it within a VAT assessment. They will inform you of all your options and you will have to contact the Covid-19 helpline if you wish to defer these payments as well as your current payments.
        For more information on deferred VAT during coronavirus, please find a full link here: https://www.gov.uk/guidance/deferral-of-vat-payments-due-to-coronavirus-covid-19#include
    </p>
    <h4>
        Closed Businesses during Third Lockdown
    </h4>
    <p>
        Eligible businesses for the LRSG, who were open as usual outside of lockdown but forced to close from 5 January 2021, may be eligible for a new cash grant from their local council. Eligible businesses will be those who are based in England, occupies property on which it pays business rates, has been required to close since 5 January 2021 onwards and are unable to provide usual in-person customer services from its premises.
        If your business has a property with a rateable value of £15,000 or less, you could be eligible for a grant of £2001 for each 42-day qualifying restriction period. If the rateable value is between £15,000 and £51,000 you may be eligible for a grant of up to £3000 per each 42-day qualifying restriction period. Above £51,000, the maximum grant you may be eligible for is £4500 per each 42-day qualifying restriction period.
        More information about the grants available to you can be found on your local council’s website. Please use this link to find your local council and their website: https://www.gov.uk/find-local-council
        <br />
        Further to the LRSG grants, a new Closed Businesses Lockdown Payment (CBLP) has been set up, specifically for the third lockdown from 5 January 2021. This is a one-off cash grant of up to £9000 for eligible businesses, with the same eligibility criteria as above.
        For CBLP, if your business has a property with a rateable value of £15,000 or less, you may be eligible for a grant of £4000. Between £15,000 and £51,000 of rateable value, you may be eligible for a grant of £6000. Above £51,000 is the full maximum payment of £9000.
        More information regarding CBLP can be found here: https://www.gov.uk/guidance/check-if-your-business-is-eligible-for-the-coronavirus-closed-businesses-lockdown-payment
    </p>
    <h4>Self-Assessment Deadline</h4>
    <p>
        The Self-Assessment Tax Return Deadline is still 31 January 2021. All payments, whether deferred from 30 July 2020, or due on 31 January 2021, must be paid by midnight of this date. Unfortunately, penalties accrued from late payment after this date will be in effect, despite having been scrapped for the July 2020 deadline due to the Covid-19 pandemic.
        If your tax return is up to 3 months late, you will get a penalty of £100. Failure to pay within 3 months will see this number increase and interest will be charged on all late payments. Covid-19 will only be used as a valid excuse for missing the deadline if you can make your case to HMRC- should your Self-Assessment be conducted through an Accountant, it will not be counted as a valid excuse.
        Tax Returns for the tax year 2018/19 must be submitted as soon as possible and will carry the accrued penalties and interest from these penalties.
    </p>
 

</div>
