
<div class="text-center" style="color: #2B588F;">
    <h1>Lateral Flow Testing </h1>
</div>


<div>
    <p>
        The employers are argued to sign up for free lateral flow tests and introduce testing for Covid-19 as a part of governments’ gradual reopening plans.
        <br />
        The deadline for registering for free test kits is 31 March 2021 and the testing guidance for employers can be found on ACAS website.
        <br />

        Should you carry out workplace testing?
        <br />

        The government guidance confirms that testing is an option for employers, however, the government is encouraging temperature checking or medical testing at work to help control the spread of COVID-19.
        <br />

        What about a lateral flow test?
        A lateral flow test is more accurate as it involves a laboratory analysing the sample and providing the result after 30 minutes. A sample taken from the throat and nose indicates whether COVID-19 is present.
        <br />

        Why does the government encourage flow testing and is it effective?
        The benefit of flow testing is that it identifies cases which would have otherwise been undetected and allows those individuals to isolate. Lateral flow tests are also less sensitive than PCR tests in determining whether someone has COVID-19.
        <br />

        What about the cost of lateral flow testing?
        The businesses have until 31 March 2021 to register for a supply of test kits, which will be provided by the government without charge until 30 June 2021. The employers will need to contribute towards the cost of setting up and arranging their own onsite testing or outsource to third party providers to carry out testing on their behalf. A dedicated space will be required to carry out testing in privacy. The list of approved third party COVID-19 test providers can be found on the government website.
        <br />

        There are some issues which need to be considered for onsite testing. Namely, businesses should decide what is the right test for their employees. Do they need a trained professional to carry out or supervise self-testing? If they do, they will require personal protective equipment (PPE) and safety measures for them. The suitable workplace area will be required as well as the correct storage of the test kits, timing and frequency of testing. They will need to consider the scope of testing i.e. will it cover employees, clients, visitors, contractors. The temperature tests would usually be carried out upon arrival and the lateral flow tests would normally be arranged by appointment covering all staff working patterns; The government advice is that lateral flow tests should be carried out twice a week and results should be recorded with Public Health England.
        <br />

        According the roadmap out of lockdown in England, the government’s support for lateral flow tests does not apply to businesses with staff who work from home.
        <br />

        The businesses that implement workplace lateral flow or temperature testing should not relax their other safety measures and therefore should continue using PPE, regular hand washing and social distancing at their workplace. The employers must ensure that the workforce is kept covid-19 secure and compliant with the core safety measures inside and outside the workplace.
        <br />

        If employees test positive for Covid-19, they must immediately return home to self-isolate for the period notified to them by the National Health Service (NHS) Test and Trace system. Employers commit an offence if they knowingly allow a person who has been officially notified that they must self-isolate to work anywhere other than where they are self-isolating.
        <br />

        Employees are legally required to inform their employers if they are officially told to self-isolate. Employers should take care to avoid disclosing an individual's identity to their colleagues if they do test positive for COVID-19.
        <br />

        From January 2021, the government confirmed that where a lateral flow test has been taken in an assisted setting such as workplace under the supervision of a trained operator, there is no need to take a PCR test to verify the result. On the other hand, where an LFD test is carried out entirely by an individuals themselves and without supervision and personally reporting the test result, a positive result will need to be verified with a PCR test. The employers should refuse entry to the workplace in this case and ask the employee to return home and book a PCR test via the NHS.
        <br />

        Are the vaccinated employees required to continue using lateral flow tests or undergo temperature checks?
        <br />

        The government’s advice is that the vaccinated employees should continue to be part of any workplace testing schemes or other safety measures because no vaccine is 100% effective at preventing a COVID-19 infection and the effect of vaccination on transmission is unknown at present.
        <br />

        Can the lateral flow tests be used by employees at home?
        Some tests are licensed to be used under supervision of a trained professional, whereas some test providers offer virtual testing with supervision from a professional over video-calling technology, enabling the test to be carried out from home. Other rapid flow tests have been approved for use at home such as Innova, a government approved test for self-administration at home.
        <br />

        Meanwhile, businesses wishing to implement a test that employees can do unassisted from home would need to fund private PCR tests.
        <br />

        What are the key legal issues raised by workplace testing?
        <br />

        It is possible that employers can make the testing mandatory but is not as contentious as mandatory vaccination and it still requires individuals to undergo an invasive and unpleasant test in the chance of identifying positive cases. The main legal risk arises in relation to employees with more than two years' continuous employment, who could claim unfair dismissal if they were to be dismissed for refusing to comply with the testing. Given that the tests are fallible in terms of identifying positive cases, employers may struggle to show that testing needed to be mandated as part of their risk assessment. It would then be for an employment tribunal to assess the reasonableness of the employer's decision to dismiss.
        <br />

        The other key legal risk is the data privacy that may arise in respect of workplace testing or extra precautions such as temperature testing. The government recommends that workplace testing should be voluntary and sit alongside other safety measures such as social distancing, hand washing and personal protective equipment. However, as the workplaces reopen, it may be possible for employers to insist on employees' participation in workplace testing as a condition of returning the workplace, with those who do not wish to participate being asked to continue working from home.
        <br />

        Can businesses insist on employees taking a PCR test if they have Covid symptoms?
        Employers can encourage employees to take the tests, but there are data protection risks in insisting that employees take tests and reveal the results. The employers may, however, be able to justify their policy on the basis of the need to safeguard the health and safety of others in the workplace. If employers are going to require employees to take a PCR test, they must do everything that they can to minimise the data protection risks.
        <br />

        Can businesses insist on taking electronic temperature readings at entry points?
        Data protection allows employers to process some health information for the purposes of complying with health and safety duties and their duty of care towards staff. In some workplaces, temperature testing may be necessary and proportionate, whilst in others it might not be and other measures would be adequate such as: requesting that people take their own temperature before attending work;
        giving clear guidance about when not to come in; and implementing rigorous health and safety practices.
        <br />

        Do employers need amend any of their sickness policies?
        It is a necessary consideration for businesses which have not amended their policy yet and want to introduce workplace testing. Employees who test positive through asymptomatic testing may not fall within the company sick pay policy as they are not actually absent through illness. Employees can be entitled to statutory sick pay (SSP). This is currently £95.85 per week. SSP is paid from the first qualifying day for those who are off sick or self-isolating due to COVID-19.
        <br />

        For businesses offering SSP only, staff may be reluctant to attend for voluntary testing if a positive result means receiving only SSP while they are self-isolating. Some employees may also be eligible for a one-off payment of £500 from the Test and Trace Support Payment Scheme whilst some employers are implementing a workplace testing policy which provides full salaries for those who receive a positive test.
        <br />

        How should employers deal with staffing levels?
        Any workplace testing comes with the possibility of staff needing to be sent home at a short notice. Therefore, the employers may need to call on employees at short notice to cover someone's absence. The employers should consider building this level of flexibility into employees' contracts.
        <br />

        Can businesses place employees who test positive on furlough?
        The current guidance on the Coronavirus states that it "is not intended for short-term absences from work due to sickness" and that "short-term illness or self-isolation should not be a consideration in deciding whether to furlough an employee". On the other hand, Acas guidance suggests that employers may consider using the furlough scheme in such circumstances as it is flexible to rotate staff on and off furlough to suit business needs.
        <br />

        Must businesses pay employees for time spent taking lateral flow tests and are there any minimum wage risks around testing?
        <br />

        The employees will need to be paid for their time to participate in tests where workplace testing is mandatory but the position for voluntary testing is not clear. In practice employers using testing programmes may need to pay employees for time spent taking the test.
        <br />

        Employers should carefully consider whether they should request staff to test at home or do so on attending their workplace in particular if employees are receiving the national minimum wage and are testing from home outside of working hours. Of course, this practise allows to manage any staffing issues should a positive test be received, but it runs the risk that a failure to make payment for the time spent taking the test.
        <br />

        Do employers need to consult with employees before introducing a workplace testing scheme?
        The government guidance confirms that employers have a duty to consult their people on health and safety. As a matter of best practice, Acas's guidance also recommends consulting with employees before introducing any testing.
        <br />

        Should there be a workplace testing policy?
        The employers will need to explain why they are asking employees to be tested along with the benefits of testing. The policy should explain why the business has decided that testing is appropriate and expectations it has of staff both in testing and compliance. Employers can use a written policy as a method of communication with employees and also to formally record of any changes to any other policies as a result of the testing regime. All other COVID-19-secure guidelines must remain in full force.
        <br />

        Do any data privacy issues may arise in respect of workplace testing or extra precautions such as temperature testing?
        The employers will need to conduct a data protection impact assessment because processing employees' health data involves large-scale processing of special category data. Most employers will be able to rely on their health and safety obligations as the legal basis for processing any health data. The Information Commissioner's Office recommends to inform staff in an open and transparent manner about the reasons for processing their personal data and what decisions will be made as a result of them having that information.
        <br />

        This is important for workplace testing as all lateral flow test results must be registered with Public Health England. The employer must obtain consent from the employee to their test result being shared with Public Health England. Employers do not need employees' separate consent to receive test results because they are relying on their duty to comply with health and safety legislation.
        <br />

        The employers will need to consider whether lateral flow tests are a necessary and proportionate means of achieving the desired objective. They will therefore should be able to justify any requirement to take such tests and set out their mitigation steps in a data protection impact assessment (DPIA). Most employers will be able to rely on their health and safety obligations as the legal basis for processing any health data.        <br />
        <br />

        When taking temperature readings or getting employees to take medical tests, the employers can mitigate the data protection risks by being fully transparent with workers about how data is being processed. Employers should produce a standalone privacy notice that covers any such testing and not retaining the information for any longer than needed. For instance, they can carry out temperature checks on access to the workplace and delete the data once it is no longer required. Access to such an information must be limited to a small number of people. If their employer fails to comply with their obligations, employees could resign claiming constructive dismissal. As an alternative, the complaints may be referred to the Information Commissioner’s Office (ICO), which has a range of enforcement actions available if it finds that a breach has occurred.
        <br />

        It is worth noting that the Spring Budget 2021 has also confirmed that tests supplied or reimbursed by employers will not count as a taxable benefit in kind. The exemption does not apply to antibody tests.
        <br />

        Additional information
        <br />

        The government website is directing individuals to check with their employers whether they can receive a test. In order to aid understanding and encourage participation in testing programmes, businesses should be using trusted sources of information such as the NHS or government pages including video from the Department of Health and Social Care providing an introduction to rapid flow testing; and government guidance on understanding lateral flow antigen testing for people without symptoms.
        <br />


    </p>

</div>
