
<div class="text-center" style="color: #2B588F;">
    <h1>Force Majeure Clauses</h1>
</div>

<div class="row" style="padding-bottom:20px;">
    <img src="~/Content/images/articles/cytonn-photography-GJao3ZTX9gU-unsplash-700x400.jpg" class="mx-auto d-block" />
</div>

<div>
    <p style="font-weight: 400;">The coronavirus pandemic not only affected our day-to-day lives but also caused major damage to global supply chains. In March 2020 75% of companies reported some kind of disruption to their supply chain and especially delays on orders from China.</p>
    <p style="font-weight: 400;">The China Council for the Promotion of International Trade has issued more than 5,600 force majeure certificates. Those certificates are meant to acknowledge the pandemic as a force majeure. This will allow a business to escape any liability for non-performance.</p>
    <p style="font-weight: 400;">Such clauses in contracts give effect to exclusion of party liability if there are events that are out of the party’s control. It can exempt a party from performing its contractual obligations, facilitate discussion and/or modification to the contract or cause termination of the contract.</p>
    <p style="font-weight: 400;">Force Majeure clauses are important which is illustrated by findings of around 72% of contacts having those provisions included.</p>
    <p>If you require legal assistance, contact us:</p>
    <p>contact@sterling-law.co.uk</p>
    <p>Or book your consultation with us through <a href="https://telmie.app.link/yWlnaaZH04">Telmie app</a> and enjoy 50% discount.</p>
    <p>&nbsp;</p>
    <p><a href="https://sterling-law.co.uk/en/covid-19-update-immigration-and-employment/">Read more on how Covid-19 affects business activity in the UK</a>.</p>
</div>

</div>
