<div class="text-center" style="color: #2B588F;">
    <h1>Force Majeure during the Corona virus outbreak</h1>
</div>

<div class="row" style="padding-bottom:20px;">
    <img src="~/Content/images/articles/DSC_2278-700x400.jpg" class="mx-auto d-block" />
</div>

<div>

    <p>A lot of businesses were affected by the Coronavirus outbreak in one way or another. The questions arise as to the rights and obligations in cases where the ability to perform under leases has been severely impaired. We will, therefore, try to explain the notion of force majeure under English Law and in which cases can it be invoked.</p>
    <h3><strong>Force majeure</strong></h3>
    <p><strong>Force majeure</strong> is when the party is prevented from performing its obligations by events outside of its control. Although a lot of countries recognise ‘force majeure’ as a statutory right, common law does not recognise this concept.</p>
    <p>&nbsp;</p>
    <p>However, parties might choose to insert a force majeure clause into their contract which will then be subject to the usual contractual rules. As the provisions are only protected by contract law, it is necessary to assess them on the case by case basis.</p>
    <p>&nbsp;</p>
    <h3><strong>Doctrine of frustration </strong></h3>
    <p>&nbsp;</p>
    <p>The closest the common law gets to the force majeure is the doctrine of frustration. It was firstly adopted in the case of <em>Tylor v Caldwell </em>where the defendant could not perform its obligations because the rented property got burnt down in a fire. The Court indeed excused the defendant from the performance. Now the doctrine is codified in the Law Reform (Frustrated Contracts) Act. The doctrine does not apply where an event or a problem makes the contract more difficult or expensive to perform. It would, however, apply where it is impossible to perform. In the circumstances of the coronavirus outbreak, the doctrine will apply in cases of travel agents, who cannot perform their obligations because borders are closed.</p>
    <p>&nbsp;</p>
    <p>When it comes to a <strong>tenancy agreement or lease</strong>, the doctrine may be applicable. However, for now, there are no cases where the Court would found the lease to be frustrated. Thus, there is a hope that the Court might find the lease to be frustrated if the tenant cannot use the premises during the outbreak.  However, the threshold is set quite high and every case requires personal assessment.</p>
    <p>&nbsp;</p>
    <p>This issue is particularly complex, and if you require assistance with your lease during the outbreak, our experienced lawyers are here to help.</p>
    <p>Contact us on <a href="mailto:contact@sterling-law.co.uk">contact@sterling-law.co.uk</a></p>
</div>