<div class="text-center" style="color: #2B588F;">
    <h1>What Points should a Furlough Agreement Cover?</h1>
</div>

<div class="row" style="padding-bottom:20px;">
    <img src="~/Content/images/articles/kelly-sikkema-C3rK5toz0qA-unsplash-700x400.jpg" class="mx-auto d-block" />
</div>

<div>


    <p>During these times many directors will have to make an uneasy decision to furlough members of staff. In this scenario, employers have to follow a certain procedure, including the furlough agreement.</p>
    <p>What points should a furlough agreement cover?</p>
    <p>A non-exhaustive list is as follows:</p>
    <p>
        &#8211; Agreement to take a temporary leave of absence<br />
        &#8211; Start date of the leave of absence (including backdating if relevant, where no work has been carried out by the employee).<br />
        &#8211; In cases of employees already made redundant, the agreed withdrawal of termination of employment because of redundancy and, if relevant, repayment of any redundancy payments, payments in lieu of notice and/or severance payments already made.<br />
        &#8211; A mechanism for the employer to end the leave of absence: probably a short notice period of (say) one week.<br />
        &#8211; An agreement that the employee will not be required or allowed to carry out any work for the employer during the leave of absence.<br />
        &#8211; Pay during the leave of absence, including (if relevant) agreement by the employee to accept a level of pay lower than contractual.<br />
        &#8211; An agreement that a leave of absence will be treated as using up statutory and contractual holiday entitlement.<br />
        &#8211; Confirmation that statutory rights, such as rights to maternity, shared parental or adoption leave and pay, will continue.<br />
        &#8211; An agreement to accept delayed payment if any payments to the employer under the scheme are delayed.<br />
        &#8211; Provision of up-to-date contact details for the employee; agreement by the employee to remain contactable.<br />
        &#8211; Provision for the furlough agreement to be varied unilaterally by the employer (subject to consultation with the employee) to reflect the terms of the scheme and any changes to the scheme which may be introduced.<br />
        &#8211; An agreement that, subject to the terms of the furlough agreement, the express and implied terms of the contract of employment remain in force. With this in mind, you should check the contract of employment for any additional terms which may need to be temporarily varied.
    </p>
    <p>&nbsp;</p>
    <p>Please kindly note, the information is provided for reference only. Every situation is unique, and we strongly suggest you seek legal advice before taking any action. You can contact us through:</p>
    <p><a href="mailto:contact@sterling-law.co.uk">contact@sterling-law.co.uk</a></p>


</div>