
    <div class="text-center" style="color: #2B588F;">
        <h1>Self Employment Income Support Scheme (SEISS) What You Need To Know</h1>
    </div>

    <div class="row" style="padding-bottom:20px;">
        <img src="~/Content/images/articles/tyler-franta-iusJ25iYu1c-unsplash-700x400.jpg" class="mx-auto d-block" />
    </div>

    <div>

        <p>In response to COVID-19 pandemic, the government announced the Self-employed Income Support Scheme (SEISS) for those self-employed and members of partnerships whose income has been lost due to the coronavirus outbreak.</p>
        <p>This scheme will allow you to claim a taxable <strong>grant worth 80% of your trading profits</strong> up to a maximum of <strong>£2,500 a month</strong>, for 3 months (but may be extended).</p>
        <p>The grant will be subject to Income Tax and National Insurance contributions but does not need to be repaid.</p>
        <p>Unlike Coronavirus Job Retention Scheme, the SEISS allows recipients of the grant to <strong>continue to work or take on another employment.</strong></p>
        <p><u>Eligibility</u>:</p>
        <ul>
            <li><strong>You have filed a tax return for 2018/19,</strong></li>
            <li>You have continued to trade into the tax year 2019/20,</li>
            <li>You intend to continue to trade into the tax year 2020/21 and trading when the application is made (or would have been trading had the coronavirus outbreak not occurred).</li>
            <li>You have <strong>lost trading profits due to coronavirus</strong>.</li>
        </ul>
        <p><strong><u>Trading profits need to be no more than £50,000</u></strong> and more than half of the individual’s total income for either:</p>
        <ul>
            <li>the tax year 2018/19, or</li>
            <li>the average of the last three tax years (2016/17, 2017/18 and 2018/19)</li>
        </ul>
        <p>&nbsp;</p>
        <p>You can make a claim for <strong>Universal Credit</strong> while you wait for the grant. You should record the grant as part of your self-employment income, and it may affect the amount of Universal Credit you get. This will not affect Universal Credit claims for earlier periods.</p>
        <p>The SEISS is intended to make payments by early June and claims will be backdated to March and paid in one instalment. <strong>There is no application process at the moment</strong>. HMRC will use tax returns already submitted to contact those who are eligible by mid-May and invite them to apply online.</p>
        <p>If you require any assistance with applying for the SEISS scheme we provide such assistance via our sister company Sterling &amp; Beanland<a href="applewebdata://B166002C-23E9-4C83-BEA2-179C75A01878#_ftn1" name="_ftnref1">[1]</a> for <strong>FREE</strong> provided you sign a 12-month contract  with them for accounting services. Please speak to Dina Taimunkenova +44(0)745 068 4215 or email at <a href="mailto:dina@sterling-beanland.co.uk">dina@sterling-beanland.co.uk</a> for further assistance.</p>


    </div>