
    <div class="text-center" style="color: #2B588F;">
        <h1>Teir 2 &amp; Covid-19</h1>
    </div>

    <div class="row" style="padding-bottom:20px;">
        <img src="~/Content/images/articles/lycs-architecture-U2BI3GMnSSE-unsplash-700x400.jpg" class="mx-auto d-block" />
    </div>

    <div>
        <p>Recently, the government has issued immigration guidance for Tier 2, 4, 5 and sponsors in response to COVID-19, and as a managing partner at Sterling Law, I would like my Corporate clients to stay updated. This update is related to changes in reporting obligations of Sponsors, sick and furlough leave of the Tier 2 employees:</p>
        <p>General rules</p>
        <p>You do NOT need to report Tier 2 employee absences related to coronavirus (absences due to illness, their need to isolate or inability to travel due to travel restrictions);</p>
        <p>You do NOT have to notify the Home office if you’re sponsoring employees who are working from home due to coronavirus;</p>
        <p>Sick leave and Statutory Sick Pay is also available for Tier 2/ Tier 5 employees as it does not constitute public funds. <a href="https://sterling-law.co.uk/en/covid-19-guidance-for-tier-2-tier-5-visa-holders-and-their-sponsors/">For more details click here</a>.</p>
        <p>You still MUST report a reduction in your Tier 2 migrant’s salary within 10 days. (let us know if you require assistance)</p>
        <p><a href="https://sterling-law.co.uk/en/can-tier-2-employees-be-furloughed/">You CAN furlough your Tier 2</a>/ Tier 5 employee (However, certain conditions may apply, for example, you will require the <a href="https://sterling-law.co.uk/en/what-points-should-a-furlough-agreement-cover/">furlough agreement to cover certain points</a>. For further details, please speak to us.)</p>
        <p>If a new employee is applying to switch into Tier 2 in the UK, they can do so inside the country until 31 May 2020 if the requirement previously was to apply from outside the UK. The applicants will still need to demonstrate that they meet the requirements of the visa they are applying for and pay all the applicable fees, including Home Office fees and IHS. Furthermore, expiring Tier 2 visas are now extended to 31 May 2020.</p>
        <p>If your potential Tier 2 employee has been issued CoS, applied for a visa and is just waiting for the decision on the application, they can start working for you BEFORE they receive their visa decision. (conditions apply)</p>
        <p>Ongoing Sponsor Duties</p>
        <p>If a Tier 2 visa has been granted but the employees cannot travel to the UK:</p>
        <p>The Home Office has not yet confirmed its position on this. The general rule is that the start date cannot be posted beyond 28 days from the start date on the CoS or 28 days from when the visa is issued. If it’s postponed to longer, you usually would have to apply for a new one. At the moment, the Home Office has not confirmed whether the rule will be waived.</p>
        <p>Unpaid leave due to the Covid-19:</p>
        <p>The general requirement is that Tier 2 migrants cannot have unpaid leave for more than 4 weeks per calendar year. The COVID-19 immigration guidance provides that there is no need to withdraw sponsorship if absence from work is due to COVID-19.</p>
        <p>Employees stacked abroad</p>
        <p>If your Tier 2 employees are currently outside the UK, they may get caught by a cooling-off period which would prevent them from returning to the UK on Tier-2 visa for 12 months. This requirement doesn’t apply if the salary is above £159,600 or if they are applying for a Tier 2 Intra-company transfer visa and their salary is above £120,000 or if the CoS was granted for three months or less. Furthermore, the ILR might also be affected if an employee is outside the country for over 180 days per year. The current guidance says that the Home Office will consider serious and compelling reasons such as illness or nature disaster. Coronavirus has not been added to the list yet.</p>
        <p>Conducting the right to work checks:</p>
        <p>Due to the coronavirus, the following rules have been adopted for the right to work checks:</p>
        <p>
            · The scanned documents for checks can be sent via e-mail or through a mobile app<br />
            · An employee should hold the documents in front of the camera for the employer to<br />
            check the copy<br />
            · You should record the date when the check was made and mark it as “adjusted check undertaken due to Covid-19”
        </p>
        <p>In addition, you might be aware that the government introduced a package of temporary business support measures including Coronavirus Job Retention Scheme, Self-employment Income Support Scheme, Business Interruption Loan Scheme, deferring VAT and self-assessment payments and other measures. You can also visit Sterling Law COVID-19 update page for additional information and useful COVID-19 related templates (e.g. Working from home Policy, Furlough Agreement etc.)</p>
        <p>If you require any assistance with applying for Coronavirus Job Retention Scheme/ Business Interruption Loan Scheme and other supporting measures we provide such assistance via our sister company Sterling &amp; Beanland if you sign a 12-month contract for accounting services (if you are not a client yet). Speak to Dina on 0745 068 4215 or email dina@sterling-beanland.co.uk</p>
        <p>We value you as a client and we will answer your immigration, employment, commercial and other business-related questions for FREE during this period: please do not hesitate to send your questions to <a href="mailto:info@sterling-law.co.uk">info@sterling-law.co.uk</a> &#8211; we are here to help!</p>

    </div>