<div class="text-center" style="color: #2B588F;">
    <h1>EPC Contracts</h1>
</div>



<div class="row" style="padding-bottom:20px;">
    <img src="~/Content/images/articles/DSC_2415-700x400.jpg" class="mx-auto d-block" />
</div>

<div>
    <p>We have reviewed the EPC contract and provided a legal opinion on force majeure clauses (re Covid-19) and its implications.</p>
    <p>Engineering, procurement, construction and commissioning (EPC) contracts are the most common form of contract used to undertake construction works by the private sector on large-scale and complex infrastructure projects. Under an EPC contract, a contractor is obliged to deliver a complete facility to a developer who needs only turn a key to start operating the facility, hence EPCC contracts are sometimes called turnkey construction contracts. In addition to delivering a complete facility, the contractor must deliver that facility for a guaranteed price by guaranteed date and it must perform to the specified level. Failure to comply with any requirements will usually result in the contractor incurring monetary liabilities. The EPC contractor coordinates all design, procurement and construction work and ensures that the whole project is completed as required and in time. He also may or may not undertake actual site work.</p>
    <p>Key features of an EPC contract are:</p>
    <ul>
        <li>A &#8220;firm&#8221; contract price with limited ability for the contractor to claim additional amounts.</li>
        <li>A fixed date for project completion with limited ability for the contractor to claim an extension of time (EOT).</li>
        <li>Single point responsibility.</li>
        <li>Contractor responsibility for proving the performance and reliability of the completed asset or facility.</li>
        <li>A focus on the long-term performance of the asset or facility and its ability to generate revenue.</li>
    </ul>
    <p><img class="lazy lazy-hidden alignnone wp-image-3897 alignleft" src="//sterling-law.co.uk/wp-content/plugins/a3-lazy-load/assets/images/lazy_placeholder.gif" data-lazy-type="image" data-src="https://sterling-law.co.uk/wp-content/uploads/2018/05/DSC_2415-1024x683.jpg" alt="" width="242" height="161" srcset="" data-srcset="https://sterling-law.co.uk/wp-content/uploads/2018/05/DSC_2415.jpg 1024w, https://sterling-law.co.uk/wp-content/uploads/2018/05/DSC_2415-300x200.jpg 300w, https://sterling-law.co.uk/wp-content/uploads/2018/05/DSC_2415-768x512.jpg 768w" sizes="(max-width: 242px) 100vw, 242px" /><noscript><img class="alignnone wp-image-3897 alignleft" src="https://sterling-law.co.uk/wp-content/uploads/2018/05/DSC_2415-1024x683.jpg" alt="" width="242" height="161" srcset="https://sterling-law.co.uk/wp-content/uploads/2018/05/DSC_2415.jpg 1024w, https://sterling-law.co.uk/wp-content/uploads/2018/05/DSC_2415-300x200.jpg 300w, https://sterling-law.co.uk/wp-content/uploads/2018/05/DSC_2415-768x512.jpg 768w" sizes="(max-width: 242px) 100vw, 242px" /></noscript></p>
    <p>Xena Semikina</p>
    <p>Senior Solicitor</p>
    <p><a href="mailto:xena@sterlinglawyers.co.uk">xena@sterlinglawyers.co.uk</a></p>
    <p>&nbsp;</p>
    <p><img class="lazy lazy-hidden wp-image-3900 alignleft" src="//sterling-law.co.uk/wp-content/plugins/a3-lazy-load/assets/images/lazy_placeholder.gif" data-lazy-type="image" data-src="https://sterling-law.co.uk/wp-content/uploads/2018/05/DSC_2575-1024x683.jpg" alt="" width="240" height="160" srcset="" data-srcset="https://sterling-law.co.uk/wp-content/uploads/2018/05/DSC_2575.jpg 1024w, https://sterling-law.co.uk/wp-content/uploads/2018/05/DSC_2575-300x200.jpg 300w, https://sterling-law.co.uk/wp-content/uploads/2018/05/DSC_2575-768x512.jpg 768w" sizes="(max-width: 240px) 100vw, 240px" /><noscript><img class="wp-image-3900 alignleft" src="https://sterling-law.co.uk/wp-content/uploads/2018/05/DSC_2575-1024x683.jpg" alt="" width="240" height="160" srcset="https://sterling-law.co.uk/wp-content/uploads/2018/05/DSC_2575.jpg 1024w, https://sterling-law.co.uk/wp-content/uploads/2018/05/DSC_2575-300x200.jpg 300w, https://sterling-law.co.uk/wp-content/uploads/2018/05/DSC_2575-768x512.jpg 768w" sizes="(max-width: 240px) 100vw, 240px" /></noscript></p>
    <p>Michael Iatsukha</p>
    <p>Trainee Solicitor</p>
    <p><a href="mailto:michael@sterlinglawyers.co.uk">michael@sterlinglawyers.co.uk</a></p>


</div>