
<div class="text-center" style="color: #2B588F;">
    <h1>Reduction in the grant under the furlough scheme </h1>
</div>


<div class="row" style="padding-bottom:20px;">
    <img src="~/Content/images/articles/damir-kopezhanov-luseu9GtYzM-unsplash-700x400.jpg" class="mx-auto d-block" />
</div>

<div>
    <p>The Government previously announced that the salient features of the Furlough Scheme will continue unchanged until 31 July 2020. The Government will continue to pay 80% of an individual&#8217;s wages up to a maximum cap of 2,500 per month, together with national insurance costs and mandatory pension contributions on that salary.</p>
    <p>The first change is that from 1 August 2020, the Government will no longer make any contribution to an employer&#8217;s NIC&#8217;s and pension contributions.</p>
    <p>From 1 September 2020, the Government will, in addition to the changes introduced in August, reduce the amount of the Furlough</p>
    <p>Scheme grant. This will move to pay 70% of the employee&#8217;s wages up to a maximum of 2,187.50 per month. In addition, however, the employer must also pay a minimum of 10% of an employee&#8217;s salary (up to 312.50), as well as the employer&#8217;s NIC&#8217;s and pension contributions. Employers will no longer be able to furlough staff on the basis that the only money received by the individual will be the Furlough Scheme grant, and, in addition to paying the employer&#8217;s NIC&#8217;s and pension contributions on the wages covered by the Furlough Scheme, the employer must now pay 10% of the employee&#8217;s normal salary during September.</p>
    <p>In October, the employer must contribute 20% of the employee&#8217;s salary (i.e., up to 625), and the Government grant goes down to 60% of the normal salary (i.e., up to a maximum of 1,875 per employee).</p>
    <p>The Scheme then ends on 30 October 2020.</p>
    <p>&nbsp;</p>
    <p>If you need help, contact us on<a href="mailto:contact@sterling-law.co.uk"> contact@sterling-law.co.uk</a></p>
</div>