
<div class="text-center" style="color: #2B588F;">
    <h1>Can Tier 2 Employees Be Furloughed ?</h1>
</div>


<div class="row" style="padding-bottom:20px;">
    <img src="~/Content/images/articles/DSC_2278-700x400.jpg" class="mx-auto d-block" />
</div>

<div>
    <p>Recently, the Government introduced Coronavirus Job Retention Scheme which allows employers to put their employees on 80% salary (or a maximum of £2,500 gross per month, whichever is lower) furlough leave which subsequently will be reimbursed by the Government.</p>
    <p>One of the main questions for businesses employing Tier 2 migrants is whether this category of employees can be furloughed without negative effects on their visas.</p>
    <p>Our answer is <strong>YES, </strong>however certain pitfalls should be taken into account:</p>
    <p><strong>Apart from several exceptions, Tier 2 sponsored workers are required to be paid a certain minimum salary amount at all times in order to maintain their visa.</strong></p>
    <p>To date, the Home Office’s guidance on coronavirus immigration rule changes has been brief and there is no clear mention of furlough leave and maintenance of the minimum salary amount while the employee is furloughed. Currently, only unpaid leave is properly covered, however, The Home Office’s concession for unpaid leave does not apply to sponsored workers who are furloughed as they will still receive part of their pay. Updated Coronavirus (COVID-19): advice for Tier 2, 4 and 5 sponsors Guidance says:</p>
    <p><strong><em>If you cannot pay the salaries of sponsored employees because you’ve temporarily reduced or ceased trading</em></strong></p>
    <ul>
        <li><em>You can temporarily reduce the pay of your sponsored employees to 80% of their salary or £2,500 per month, whichever is the lower.</em></li>
        <li><em>Any reductions must be part of a company-wide policy to avoid redundancies and in which all workers are treated the same.</em></li>
        <li><em>These reductions must be temporary, and the employee’s pay must return to at least previous levels once these arrangements have ended.</em></li>
    </ul>
    <p>Thus, although the Home Office is definitely allowing to put Sponsored workers on furlough and reduce their salary to 80%, it remains unclear whether the<strong> minimum salary threshold still applies for furloughed Tier 2 employees and</strong>, thus, if Tier 2 migrant’s annual salary is <strong><u>above £30,000 per annum </u></strong>the employer should pay on top of the 80% provided by the Government in order to furlough. Hopefully, the Home Office will provide further guidance on this rule soon since most of the Tier 2 workers receive a higher salary in accordance with Immigration Rules requirements. <strong>In the meantime, we advise that furloughed Tier 2 employee salary should not drop below the required threshold.</strong></p>
    <p>However please note that if Tier 2 employee is on the <strong>sick leave</strong> due to Coronavirus outbreak the <u>salary can drop below the required minimum</u> for this specified period.</p>
    <p>The employers can consider <strong>reduction in hours</strong> for their Tier 2 employees as an alternative, but again, the salary cannot fall below the relevant Tier 2 visa category minimum due to this reduction. In addition, any change of salary should be reported to the Home Office via SMS portal.</p>
    <p>Read our COVID-19 blog for more details on employment and immigration changes and challenges due to Coronavirus outbreak.</p>
    <p><a href="mailto:contact@sterling-law.co.uk">contact@sterling-law.co.uk</a></p>




</div>
