<div class="text-center" style="color: #2B588F;">
    <h1>COVID-19 and claiming benefits</h1>
</div>

<div class="row" style="padding-bottom:20px;">
    <img src="~/Content/images/articles/kelly-sikkema-C3rK5toz0qA-unsplash-700x400.jpg" class="mx-auto d-block" />
</div>

<div>

    <p><strong>How do electronic signature platforms work? </strong></p>
    <p>There are simple platforms that allow you to sign documents and deeds. All the signatories will access the documents via a link. After the parties sign a document, the platform will receive core information such as the signatory&#8217;s email address, IP address, date and time of access. When all the signatures are complete, the document is saved as a read-only PDF. Even if any changes to it are made, later on, there will be highlights to them.</p>
    <p><strong>The validity of  a contract that has been signed electronically</strong></p>
    <p><strong> </strong>For the contract to be valid in common law there is a need to establish offer, acceptance, consideration and intention to be bound. The question arises whether an electronic signature can actually represent an intention to be bound. The platforms usually indicate that in order to agree to contact, a person needs to apply their signature into a special box. Therefore, the signature from the platform, if used together with other supporting documents, is sufficient evidence of an intention to be bound by the contact.</p>
    <p><strong>The validity of a deed that has been signed electronically </strong></p>
    <p><strong> </strong>For the deed to be valid in common law it must be in writing, expressed to be a deed, delivered a deed (usually electronic delivery suffices) and executed as a deed. The deed has to be witnesses in order to be executed. Although there is no statutory law that would shed a light on the issue, the Law Commission has issued a report into electronic signatures. The first finding is that the combination of different legal instruments shows that electronic signature usually meets all the statutory requirements. Second, an electronic signature can actually be witnessed. Witnesses can see the signature of the other person and add their signature as well. However, there is still a requirement of the physical presence of the witness.</p>
    <p><strong>Where electronic signature will not be valid </strong></p>
    <ul>
        <li>Documents that need to be registered at Land Registry (electronic signatures do not meet statutory requirements)</li>
        <li>Documents executed by foreign companies</li>
    </ul>
    <p><strong> </strong></p>
    <p><strong>The validity of an electronic signature </strong></p>
    <p><strong> </strong>There is a body of case law that establishes that the contract is valid if entered into by the exchange of e-mail. Therefore, it can be assumed that if a typewritten signature was sufficient then the court will not find an electronic signature through a platform to be invalid.</p>
    <p><strong>Conclusion</strong></p>
    <p>We, therefore, conclude that the contact and a deed that otherwise fulfil all the criteria but were signed digitally would fulfil the criteria for validity. Especially, the Courts are likely to take into account the fact that at the moment physical signatures do not seem to be feasible since most of the organisations are closed. However, as there is no case law or statutory law, electronic signatures for deeds will always entail an amount of risk. Therefore, if it is possible then we advise using physical signatures for deeds.</p>
    <p>The information above is provided for reference only. Please consult with our specialists prior to taking any actions, as every situation is different.</p>
    <p>&nbsp;</p>
    <p>You can contact us on:</p>
    <p>contact@sterling-law.co.uk</p>


</div>