
    <div class="text-center" style="color: #2B588F;">
        <h1>UK Intellectual Property Law in light of Covid-19 revised UK IPOS Practices </h1>
    </div>

    <div class="row" style="padding-bottom:20px;">
        <img src="~/Content/images/articles/dries-augustyns-2gwdee97DQY-unsplash-700x400.jpg" class="mx-auto d-block" />
    </div>


    <div>

        <p>COVID-19 is posing unprecedented challenges to all business aspects and areas of law, including Intellectual Property. Various Intellectual Property Offices (IPOs) across the globe have been adjusting the services they provide to the current circumstances. The UK IPO is not an exception and is alike considerate of the threats the pandemic poses to individuals and businesses in the UK. With an intent to ensure that those dealing with the UK IPO are not treated unfairly, the Office has made certain temporary alterations to its practices. Some information on the most notable changes introduced is digested below.</p>
        <h3>UK Intellectual Property Law: New applications</h3>
        <p>On the one end of the spectrum, submitting new applications for designs, patents, trademarks or supplementary protection certificates (SPCs) is possible with no changes made. The filling dates of IP applications, therefore, are left unaffected by the pandemic and remain the same.</p>
        <p>On the other end of the spectrum, certain amendments have been introduced to the ways of filling. Provided that the UK IPO has closed access to all of its buildings until further notice and is unable to accept mail or dispatch it, all rights holders should utilise online services and email instead. Further to it, the UK IPO has established a <a href="https://www.gov.uk/government/news/coronavirus-important-update-on-ipo-services">mailbox</a> for the management of the services that are not available online.</p>
        <h3>Deadlines</h3>
        <p><em><u>Pre-24 March 2020</u></em>. Should you have not met the deadline coming about before 24<sup>th</sup> of March 2020 for the reasons pertaining to the outbreak of COVID-19, it is worth <a href="https://www.gov.uk/government/news/coronavirus-advice-for-rights-applicants">contacting the UK IPO</a> to explore the options available. The UK IPO has designated that in situations where such a failure to meet the deadline has caused a loss of rights, it may well be possible to restore these rights, should the circumstances allow.</p>
        <p><em><u>Post-24 March 2020</u></em>. As has been stipulated by the UK IPO, the 24<sup>th</sup> of March 2020 and all subsequent days are proclaimed to be “interrupted days” until further notice. In plain words, any deadlines in respect of patents, designs, trademarks, and SPCs would be automatically extended until the end of the “interruption period”. <em>Nota bene</em>, the alterations are not applicable to the time periods set under various international IP treaties. The UK IPO will provide a minimum of 2 weeks’ notice prior to ending the “interruption period”.</p>
        <p>Please also be mindful, the <em>17<sup>th</sup> of April 2020</em> has been set to be a review date on which the above-referred “interruption period” may either be extended or brought to an end (inclusive of the 2 weeks’ notice period), depending on the circumstances. Having said that, as per the current situation in the UK, it is highly unlikely that the period will be terminated.</p>
        <p>In addition to a great degree of flexibility that has already been implemented into the dealings with the UK IPO, to relieve the pressure on the parties in the short term, the vast majority of the new deadlines issued by the UK IPO are longer than would be under the ordinary circumstances. For instance, those filling applications for trademarks will have 4 months to respond, instead of the usual 2.</p>
        <p>Nonetheless, regardless of the relaxation of the deadline requirements, the UK IPO still rightly asks the right holders to try to adhere to the original timings to avoid the Office being overwhelmed with work upon the termination of the “interruption period”.</p>
        <h3>Hearings</h3>
        <p>With regard to the Tribunal services, where possible (<em>viz</em>. it is within the UK IPO’s discretion), any new set deadlines would be doubled, such as the period for filing submissions or evidence. Moreover, it is possible to extend the time to appeal a trademark decision.</p>
        <p>Important to account, as of now, no hearings in person are to be held until the <em>1<sup>st</sup> of June 2020</em> (this date is subject to review). Having said that, telephone, Skype are other feasible virtual methods are being used to hold the hearings.</p>
        <p>UK Company Names Tribunal requires specific attention. As has been specified, existing claims are not subject to any progress. New claims can still be lodged <a href="https://www.gov.uk/government/news/coronavirus-important-update-on-ipo-services">via email</a>, however, these would be electronically recorded and would not be processed as of now.</p>
        <p>Apart from the certain modifications that have already been inaugurated (as outlined above), the information provided thus far is subject to a constant review and further alterations are possible.</p>
        <p>We, therefore, recommend those seeking more information to visit:</p>
        <p>·      <a href="https://www.gov.uk/government/news/alterations-to-our-services-tribunals-and-hearings">Alterations to Tribunals and Hearings</a> (last updated 2 April 2020)</p>
        <p>·      Alterations to services relating to</p>
        <p>&#8211; <a href="https://www.gov.uk/government/news/alterations-to-services-trade-marks-and-designs">Trademarks and Designs</a> (last updated 9 April 2020)</p>
        <p>&#8211;  <a href="https://www.gov.uk/government/news/alterations-to-services-patents">Patents</a> (last updated 30 March 2020)</p>
        <p><em>Please note, this update is a synopsis of the guidance distributed to the public by the UK IPO at the time of writing. The update is not to be regarded as legal advice and is not actionable per se (professional legal advice must be sought first).</em></p>
        <p>Written by Vladislav Shutko, Legal Assistant at Sterling Law.</p>
        <p>&nbsp;</p>
        <p>If you require assistance with intellectual property legislation, feel free to contact our IP specialist <a href="https://sterling-law.co.uk/en/team-2-2/katsiaryna-pazniak/">Katsiaryna Paznia</a>k:</p>
        <p><a href="mailto:katsiaryna@sterlinglawyers.co.uk">katsiaryna@sterlinglawyers.co.uk</a></p>


    </div>
