
<div class="text-center" style="color: #2B588F;">
    <h1>Signing documents during the Covid-19 outbreak</h1>
</div>

<div class="row" style="padding-bottom:20px;">
    <img src="~/Content/images/articles/kelly-sikkema-61BQ1JhTKik-unsplash-700x400.jpg" class="mx-auto d-block" />
</div>

<div>
    <p>As a lot of legal professionals are working from home at the moment, one of the main questions is how to execute remotely documents that require signatures.</p>
    <p>An electronic signature can take a form of the typed name in the contract, pasting the signature in a form of an image into the contract, making a signature through Docu Sign or Adobe Sign, using a finger or stylus and touchscreen to sign electronically, scanning a printed document with a signature on it.</p>
    <h3><strong>Use of electronic signature under English law</strong></h3>
    <h4><u>Simple contact </u></h4>
    <p>Indeed, according to the Law Commission, an electronic signature <strong>can </strong>be used <strong>to execute a document</strong>. The signatory party should intend to authenticate it and formalities for the execution of the documents have to be satisfied.</p>
    <h4><u>Deed </u></h4>
    <p>One of the key requirements for the execution of a deed is that it has to be signed in the presence of a witness. The Courts have stated on numerous occasions that a deed <strong>cannot</strong> be <strong>witnessed through a video call</strong>. This, of course, poses some concerns during the pandemic.</p>
    <p>One way to solve the issue is for either two directors to sign the deed or director and a secretary. Those two parties can one after another sign the deed electronically. The parties will need to stay the date when the deed was executed and delivered.</p>
    <p>One of the common questions that arise is how can one sign a document if they are unable to print it. There are several electronic platforms (DocuSign or AdobeSign) that allow signing the deed electronically. One can also type their name into the contract and this signature will be valid.</p>
    <p>While it is clear that the simple contract can be executed by an electronic signature, it is less obvious how the more complex contracts should be approached. We, therefore, advise those with more complex issues to receive professional legal help in order to ensure that any transaction goes smoothly.</p>
    <p>Still unsure? Speak to us: 07 305 966 531 or <a href="mailto:contact@sterling-law.co.uk">contact@sterling-law.co.uk</a></p>
</div>