
<div class="text-center" style="color: #2B588F;">
    <h1>Restart Grants: Reopening your business</h1>
</div>


<div class="row" style="padding-bottom:20px;">
    <img src="~/Content/images/articles/DSC_2278-700x400.jpg" class="mx-auto d-block" />
</div>

<div>
    <p>
        As the UK begins to ease restrictions on businesses as the country moves out of lockdown, the UK Government has introduced a new scheme to aid businesses reopening for the first time since December. The will include a one-off, single cash grant of up to £6000 for eligible businesses in the non-essential retail sector or up to £18,000 for eligible businesses in the hospitality, accommodation, leisure, personal care and gym sectors.
        The grant will be open for application from 1 April 2021 and comes as one of the new grants announced in the March Budget.
    </p>

    <h1>
        Eligibility
    </h1>
    <p>
        Businesses will be eligible for the grant if they were trading prior to 1 April 2021. General eligibility criteria include: that the business is based in England, provides rate-paying services and is considered a non-essential service (for example non-essential retail, hospitality, leisure, accommodation, personal care or gyms). There are more specific criteria however, for businesses to be eligible for the larger grant of up to £18,000.
        Businesses included in the ‘non-essential retail’ sector include, but are not limited to: clothes shops, book shops, antique shops, betting offices, sales kiosks, charity shops and auction rooms. Businesses that fall under this definition are eligible for a one off grant of up to £6000 offered by the local authority. They will assess the level that the business’ services were restricted during the January 2021 lockdown, it offered in-person services to consumers and was forced to close during the January 2021 lockdown to calculate the size of the grant for each applying business.
        Businesses not included in the ‘non-essential retail’ sector, as defined by this grant, include but are not limited to: supermarkets, newsagents, corner shops, pharmacies, chemists, education providers, animal rescue centres and financial providers.
        Businesses eligible for the larger grant fall into the wider hospitality sector, including accommodation, leisure and personal care sectors. Examples of businesses included in these sectors are: pubs, restaurants, cafes, bowling alleys, zoos and safari parks, tourist attractions, museums and art galleries, hotels, hostels, caravan parks, canal boats or other vessels, spas, barbers, massage centres and hairdressers. Businesses will be assessed on the impact that the January 2021 lockdown has had on their services and staff to calculate the size of the grant for each applying business.
        Businesses not included for this grant include, but are not limited to: businesses that main service is takeaway food (including food kiosks), tour operatives (including coach), private dwellings, education centres, care homes, home sport facilities (including home gyms and home studios), businesses providing only personal care goods, opticians, dental services and medical or health services.

    </p>
    <h1>
        How to Apply
    </h1>
    <p>
        Businesses can apply for the Restart Grant from 1 April 2021 until 30 June 2021. Final payments will be made by 31 July 2021 by local authorities. Businesses can apply for the grant in advance, by discretion of their local authorities, who can be found using the following link: https://www.gov.uk/find-local-council. Local authorities will assess the business’ eligibility and position to decide the size of grant offered.
        Local authorities are expected to make the payments as soon as possible after 1 April 2021 for all applying businesses, and will inform all applicants of their specific timetable for making payments. The applicants will be contacted by call or writing (including emails).
        The Restart Grant may be eligible for tax and must be included in the business’ tax return. Only businesses that make an overall profit once grant income is included will be subject to tax.
        Further information regarding the Restart Grant can be found through the following link: https://www.gov.uk/guidance/check-if-youre-eligible-for-a-coronavirus-restart-grant#history.

    </p>



</div>
