
<div class="text-center" style="color: #2B588F;">
    <h1>Growing your SME business during a global pandemic</h1>
</div>


<div>



    <p>It won't be business as usual for a long time. The effects of lockdown and the subsequent post-lockdown safety measures imposed on business are not yet full-fledged. Small businesses will likely be the hardest hit from the current COVID-19 pandemic. However, a volatile economy can create just as many opportunities as it destroys.</p>

    <p>
        Depending on the industry you’re in, some losses are unavoidable, but for many entrepreneurs, it’s about minimizing your losses and finding ways to capitalize on opportunities. One of the best qualities that will serve you as an entrepreneur now, more than ever, is adaptability. By adapting to the way things are currently, you're more likely to survive, and there may be opportunities for business growth. Here are a few general points to consider.
    </p>

    <ol>
        <li>
            Take care of yourself, and keep calm
            Self-care can relieve stress, reduces burnout and promotes positive energy. Establishing or sticking to a regular self-care routine is so important for our physical and mental wellbeing, especially during difficult times. Do it in a way that works for you, for instance, try to get connected, eat well and get some exercise.
            It will also help you to keep calm, which in turn will also mean keeping your staff calm, and ultimately, increases your team's productivity and innovation.
            Things will get better, and you aren’t in this alone. Ask for emotional support where you can, and when you need it.
        </li>
        <li>
            Check what help/supports are available to you
            UK Governments has put together loans, tax relief and cash grants to support small business owners, and this is something that keeps evolving. Be up to date with how the governments can help cut costs, as well as other important institutions, such as banks who also have a social responsibility.
        </li>
        <li>
            Make a wise financial plan
            Use this time to reflect on business strategy and refocus on the things you did not have time for previously. Gather, understand, and process the data to make strategic decisions for your business. Try to create a budget plan with the following information and review it on a monthly basis:
            •	Sales- Break down as product and service line and calculated as the number of sales multiplied by average sale value
            •	Fixed costs- Taken from recent financial statements and adjusted for expected increases
            •	Variable costs- Costs vary with sales and are driven by sales forecast
            Create a cash flow forecast to estimate your cash position in the future after you have completed your budget. You will be able to look into your business cash inflows and outflows, and thus give yourself time to financially prepare your business.
        </li>
        <li>
            Focus on the opportunities for revenue
            Cutting costs is naturally one of the first things on a business owner’s mind when in a difficult time. In an uncertain economy when every penny counts, even the smallest increase in revenue or reduction in expenses can have an impact on company profitability. But there is a limit to which expenses can be cut without hurting your competitiveness. Ultimately, expenses should be viewed as a resource in generating income. Not to be wasted but used productively to maximize revenue.
            On the other hand, there is no limit on the opportunities for revenue you can explore. You can consider the driving forces of revenue, which in most businesses are:
            •	The number of customers
            •	The number of times those same customers bought from you
            •	The average sale you made each time a customer bought from you
            Put strategies in place to increase each of those critical measures once you understand the driving forces of revenue. Below are some examples:
            Keep existing customers happy:  Loyal customers give you more sales opportunities. Be sure to communicate business changes, including hours of operations, virtual offerings, and managerial decisions to keep customers in the loop during shifting times. Communicating is more important than ever right now.
            Boost your customer base: Get creative and hustle. Leave no stone unturned in pulling customers from competitors. And don't stop marketing. A lot of businesses will stop the cash flow of marketing funds first, which is a mistake. Chances are that competitors will pull back on ad and marketing spend. This can give you a chance to gain market share.
            Invested in online. If online marketing works for your business, here are some important questions to ask when it comes to reaching your buyers online:
            •	Does your business have a reputable online presence and an intuitive and easy-to-use online interface?
            •	Have you implemented a Pay per Click (PPC) online advertising campaign to pull in buyers searching for your services?
            •	Do you have a social media campaign that engages with your potential customers?
            •	Is your website and content optimized for search engines when clients are browsing and researching online?
            •	Is your website delivering a superior user experience – making it easy to navigate, explaining your value proposition and how to buy your products and services?
            If you have not invested in an omnichannel digital marketing strategy, with consistently aligned messaging and customer experiences across channels and platforms, it’s not too late to start. If you are already invested in online, consider devoting even more resources to this critically important area.
            Upskill your staff
            Wherever possible, try your best to keep your staff– they rely on you, and if you have managed a good team, they should be supporting you. You could train your existing staff on additional skills, which could make them more productive and efficient. There’s plenty of online courses that are very affordable, and these will allow them to focus on other areas of the business when their department is down- for instance, your sales team could perhaps also help out the marketing team. Look for courses and resources that most match your needs and also your budget during this time.
        </li>
    </ol>


    <p> <i>Thank you for your interest, please call 0203 405 6736 to discuss your financial requirements </i> </p>


</div>
