
<div class="text-center" style="color: #2B588F;">
    <h1>How to effectively manage your staff remotely</h1>
</div>


<div>


    <p>
        Prior to 2020, close to 50% of the working population was able to work remotely, with these figures increasing every year. However, due to the Covid-19 pandemic, many employers now find themselves having to manage all of their staff remotely, all at the same time, and some are doing so for the first time. Alongside these figures, many employers also understand that there are a number of challenges that come from trying to manage a number of employees remotely, increasing with the higher the number of employees you have. We have compiled some helpful tips here to improve that management should you be struggling in the current crisis and beyond
    </p>
    <p>
        <h4>1.	 Regular engagement </h4> <br />
        A hard and fast rule for managing your employees is to have regular contact with them. Daily engagement with your employees is vital, especially in keeping in constant communication with your staff. This will also help them to feel involved and included with all of their colleagues. Consider holding meetings via video link to see their faces and prevent your staff from feeling cut off during this time. Use the engagement to discuss things other than just work, discuss their home lives and ask how they are feeling, especially if they live alone or show signs of struggling.
    </p>
    <p>
        <h4> 2.	Trust in your team</h4><br />
        Trust in your team to do their jobs and conduct business as usual. While communication and engagement are important, constant emails and checks may alienate your team into thinking that you do not trust them. Show that you trust them by restricting contact to the essentials and have small check-ins to make them feel wanted but not over-burdened.
    </p>
    <p>
        <h4>
            3.	Try avoiding multi-tasking for you and your employees
        </h4> <br />

        One issue that may become a problem with working remotely, is an overload of emails. With communication limited to calls, whether by video or phone, emails can become a crutch for rapid communication between people. However, the temptation to send ‘reply all’ for each email can include employees who may not be needed on the email chain, cluttering up their inbox, or causing them undue stress and feeling overworked. It is important to keep your employees in the loop regarding projects, but avoid unnecessary clutter within your own and other staff inboxes. On top of this, ensure that the workload is equally distributed between employees, or redistribute work should it be brought to your attention that there is an unequal distribution to avoid overworking and alienating certain employees.
    </p>
    <p>
        <h4>
            4.	Clear Communication
        </h4><br />
        Communication is key in any role, whether as an employee or an employer. Ensure that your staff understand the tasks you have set and make sure they know that you are available to speak with if they require help. Further to this, communication plays into the role of engaging and trusting your employees. Clear Communication can improve productivity by setting clear goals and parameters, such as having a set of guidelines in place for those working remotely now and post the Covid-19 crisis, as well as clear expectations of how your wish your employees to work. One of the biggest hurdles of working remotely is the break-down of communication, which can cause mistakes and lead to problems arising.
    </p>
    <p>
        <h4>
            5.	Aim for video over phone calls
        </h4><br />
        Phone calls are an excellent way to communicate short amounts of information or to discuss issues with clients. However, they can cause issues when engaging with your employees. It is far easier to share information over video calls via technology such as Zoom, Houseparty or Skype, (these being the most well-known ones). These enable you to share a screen, and therefore information or work that you might be working on. These can also help with employees that might be struggling mentally, as it gives them a sense of inclusion and prevents encroaching loneliness caused by the lockdown especially for those living alone. Phone calls can still be used, but when conducting large meetings, try to opt for video meetings.
    </p>
    <p>

        <h4>
            6.	Focus on outcomes over activity
        </h4><br />
        Quality over quantity. Focusing solely on the activity of your employees can affect their moral. Focus instead on the goals and outcomes of their work, praise them for what has been going well and encourage them if they make mistakes. This is part of trusting your team to continue working as they will, allowing them to focus on clear goals and achieving good results in a timely manner, rather than concentrating solely on productivity and work-loads.
    </p>
    <p>
        <h4>
            7.	Technology, Technology, Technology
        </h4><br />
        Technology is a crisis is your new best friend. GDPR constraints mean that all employees ought to be working on a shared drive, either through a basic store such as Google Drive, where all work documents can be uploaded to ensure they do not sit on home computers with client data, or via a more complex log-in system to the company database. Employers should ensure that all employees have access to up to date and virus protected equipment and technology. This might mean supplying laptops or programs if necessary, should their own technology be incompatible with your work systems. Employers are legally obligated to ensure that these systems are in place, whether that be during this current crisis or post-pandemic, should you wish to extend remote working.
    </p>
    <p>
        <h4>
            8.	Be Flexible in your approach
        </h4><br />
        One of the most important approaches to managing your team remotely is to always be flexible in your approach. Should your method of managing your staff not work, for example, engaging with them once a week, consider being flexible and engaging with them daily. If engaging with them solely via email is causing problems, consider using video calls. Flexibility is key, especially during Covid-19, to a successful management strategy.
    </p>


    <p> <i>Thank you for your interest, please call 0203 405 6736 to discuss your financial requirements </i> </p>


</div>
