
<div class="text-center" style="color: #2B588F;">
    <h1>Self-employed Income Support Scheme</h1>
</div>


<div>


    <div class="row" style="padding-bottom:20px;">
        <img src="~/Content/images/articles/article6.PNG" class="mx-auto d-block" />
    </div>




    <p><strong>If you are self-employed and qualify for the Self-employment Income Support Scheme you will receive a cash grant from HMRC based on 80% of profits, up to £2,500 per month. The initial grant will be for the three months, from 1 March through to the end of May 2020, but could be extended for a longer period.</strong></p>


    <p>On 30 April 2020, HM Treasury published its Direction to HMRC giving statutory footing for the scheme. The document makes it clear that one of the conditions for using the scheme is that you must have been adversely affected by reason of circumstances arising as a result of coronavirus or coronavirus disease.</p>



    <p>The online service is not currently open for applications and HMRC is aiming to contact those eligible to use the scheme by mid-May 2020. Those eligible will be invited to apply online when the portal opens. You will only be able to claim using the GOV.UK online service. The first grants are expected to be paid out at the beginning of June.</p>



    <p>If you are self-employed you may be able to make a claim for Universal Credit whilst awaiting the grant. Government figures have suggested that many have already applied for help, but this option remains available if you qualify. When the grants are paid these should be recorded as part of your self-employment income, and it may affect the amount of Universal Credit paid. This will not affect Universal Credit claims for earlier periods.</p>



    <p>HMRC will use data on 2018-19 returns already submitted to identify those eligible and will risk assess any late returns filed before 23 April 2020 deadline in the usual way.</p>



    <p>To be eligible your self-employed trading profits must be less than £50,000 and more than half of your income must derive from self-employment. This is determined by at least one of the following conditions being true:</p>



    <ul><li>having trading profits/partnership trading profits in 2018-19 of less than £50,000 and these profits constitute more than half of your total taxable income</li><li>having average trading profits in 2016-17, 2017-18, and 2018-19 of less than £50,000 and these profits constitute more than half of your average taxable income in the same period.</li></ul>

    <p> <i>Thank you for your interest, please call 0203 405 6736 to discuss your financial requirements </i> </p>


</div>
