
<div class="text-center" style="color: #2B588F;">
    <h1>Deferral of VAT payments update</h1>
</div>


<div>


    <div class="row" style="padding-bottom:20px;">
        <img src="~/Content/images/articles/61e185ca-cdc0-48c1-957b-4d555727c283-1.jpg" class="mx-auto d-block" />
    </div>



    <p>It was announced at the end of March that VAT registered businesses have the option to defer any VAT payments due between 20 March 2020 and 30 June 2020.</p>



    <p>HMRC’s guidance for the deferral of VAT payments has been updated and states that you can only defer the following:</p>



    <ul><li>quarterly and monthly VAT returns’ payments for the periods ending in February, March and April</li><li>payments on account due between 20 March 2020 and 30 June 2020</li><li>annual accounting advance payments due between 20 March 2020 and 30 June 2020</li></ul>



    <p>The deferral does not cover payments for VAT MOSS or import VAT.</p>


    <p> <i>Thank you for your interest, please call 0203 405 6736 to discuss your financial requirements </i> </p>
</div>
