
<div class="text-center">
    <h1>The Key to a Successful Zoom Meeting</h1>
</div>


<div>

    During the Covid-19 crisis, many businesses have turned to Zoom or their equivalents to conduct their meetings. At the start of lockdown in the UK, Zoom saw their download rate increase to 2.13 million downloads worldwide, compared to 56,000 two months prior, both for business and recreational use. In the business world meetings between staff, clients and employers are now often being conducted via video apps, and below we have listed several tips to create a fully successful Zoom meeting, to optimise your business during the crisis and to adapt to changing business practices in the future.
    <h4>
        1.	Automatic or Scheduled Meetings
    </h4>
    <p>
        The first step to a successful Zoom meeting is in the set-up of the meeting itself. Zoom allows for automatic meetings in the scheduling set-up, by clicking on ‘Recurring Meetings’, with the ability to choose how often these meetings can occur. On top of that, Zoom allows you to connect your calendar with the app, and to set up automatic meetings. This will works with several different services, such as Calendly, Google Calendar and ScheduleOnce..This can aid in the set-up between clients and employees before anybody even enters the meeting, and all of this can be done through a Zoom account. Automatic emails with a link to each meeting can also be sent out through these means, allowing you more time for your work and making the set up of meetings easier and more convenient for you as well.
    </p>
    <h4>2.	Set Goals for each meeting </h4>
    <p>
        The second step to a successful Zoom meeting is ensuring you have set a goal for each and every meeting that you set up, either automatically or manually. Each goal need not be complicated: during the Covid-19 crisis the goal for a daily meeting could just be to check in with your staff, to help both your own and their mental health and wellbeing. Having a clear goal for the meeting and ensuring that all involved know it, will enable each meeting to be efficient and effective for your business.
    </p>
    <h4>3.	Visibility </h4>
    <p>
        While not entirely an essential step, visibility to those you are speaking to can be the key to a successful Zoom meeting. Enabling the camera to show you and your surroundings can help your employees who may be struggling mentally to feel included and, opting for video calls over audible, allows for the sharing of screens. Should it be appropriate, also consider using ‘Gallery View’ on Zoom to conduct the meeting with all members visible to aid in a feeling of inclusion and involvement within the company.
    </p>
    <h4> 4.	Appearance </h4>
    <p>
        When conducting meetings with clients, appearance can be very important in video calls. Ensure that the environment surrounding you is appropriate, such as an office space or neutral living space. If you do not have an office, consider setting up a chair by a blank patch of wall, or similar neutral space such as a conservatory, kitchen or dining room table. This continues the air of professionalism that your clients will expect from you, as well as setting the mood for the meeting. On top of this, ensure that your personal appearance is also appropriate as you will be visible on-screen. Meetings between staff and co-workers may be fine in t-shirts and loungewear, but business casual is preferable when conducting meetings with clients and potential partners.
    </p>
    <h4>  5.	Record videos  </h4>
    <p>
        Another key to a successful Zoom meeting is to record all meetings that may need to be referred to at a later date. This can include training sessions, discussions of projects and how you intend to move forward with them, and meetings between partners and shareholders. The record function can be saved locally or via the cloud (although the Cloud option is only for paying members). When setting up the record function, consider whether the call is recorded in conference or meeting style: In conference style, only the host will appear on screen during the recording, whilst in meeting style, everyone will be visible.
    </p>
    <h4>6.	Share your screen </h4>
    <p>
        One of the final keys to a successful Zoom meeting can be through sharing your screen with other members of the meeting. This can be used for presentation conferences, or meetings that require a visual aid to display and share information or work between colleagues. This can be a great tool for recorded webinars as well, enabling you to be able to continue educating your staff, both new and old, throughout the crisis and can be invaluable when bringing a new employee on board.
    </p>
    <h4>7.	Quick short-cuts </h4>

    <p>
        During Zoom meetings, sometimes it can be quicker to use keyboard short cuts than navigate via the mouse. Below are a few handy shortcuts for use during a Zoom meeting:
        <ul>
            <li>Alt+I can be used to invite somebody when on Windows systems, or alternatively Cmd+I for Mac systems. This will jump you straight to the invite window at a moment’s notice.</li>
            <li>Alt+M is a quick way to mute the mic on the meeting via Windows, Cmd+Ctrl+M for Mac</li>
            <li>•	Alt+Shift+S is a quick shortcut for sharing your screen should you wish to jump straight to screensharing over opting to show just one tab. For Mac it is Cmd+Shift+S</li>
        </ul>

    </p>
    <p> <i>Thank you for your interest, please call 0203 405 6736 to discuss your financial requirements </i> </p>

</div>
