
    <div class="text-center" style="color: #2B588F;">
        <h1>COVID-19: Support for Businesses</h1>
    </div>


    <div>


        <p>Further to the developing situation surrounding the coronavirus pandemic, this post is to update you on planned financial support for businesses from the government.</p>



        <p>The Chancellor has set out a package of temporary measures to support public services, people and businesses through this period of disruption caused by COVID-19.</p>



        <p>This includes a package of measures to support businesses including:</p>



        <ul><li>a <a href="https://www.gov.uk/guidance/claim-for-wage-costs-through-the-coronavirus-job-retention-scheme">Coronavirus Job Retention Scheme</a>, whereby HMRC will reimburse 80% of furloughed workers wage costs, up to a cap of £2,500 per month</li><li>deferring VAT and Income Tax payments until June 2020</li><li>a Statutory Sick Pay relief package for SMEs</li><li>a 12-month business rates holiday for all retail, hospitality, leisure and nursery businesses in England</li><li>small business grant funding of £10,000 for all business in receipt of small business rate relief or rural rate relief</li><li>grant funding of £25,000 for retail, hospitality and leisure businesses with property with a rateable value between £15,000 and £51,000</li><li>the Coronavirus Business Interruption Loan Scheme offering loans of up to £5 million for SMEs through the British Business Bank (<a href="mailto:luda.beanland@schoolgateaccounts.co.uk?cc=charles.swain@schoolgateaccounts.co.uk&amp;subject=Business Support Request">contact us</a> for a detailed &amp; updated list of lenders and their statuses) </li><li>a new lending facility from the Bank of England to help support liquidity among larger firms, helping them bridge coronavirus disruption to their cash flows through loans</li><li>the HMRC Time To Pay Scheme</li><li>Option to apply for more time to file your company’s accounts</li></ul>



        <p>As always, Sterling&amp;Beanland Accounting Services are on hand to assist you with all your financial needs at this difficult time. All our staff are working remotely and available to assist should you need.</p>



        <p>We have carried out some research of the the Business Interruption Loan Scheme, which we hope you find useful. To access it, please click <a href="mailto:luda.beanland@schoolgateaccounts.co.uk?cc=charles.swain@schoolgateaccounts.co.uk&amp;subject=Business Support Request">here</a>.</p>



        <p>Further more, all our our COVID-19 support is <strong>free of charge</strong> if you sign up with Sterling&amp;Beanland Accounting or are an existing client.</p>ll also be up to&nbsp;£1bn of additional support for renters&nbsp;through increases in housing benefit and Universal Credit. From April, Local Housing Allowance rates will pay for at least 30% of market rents in each area. This applies to all private renters who are new or existing Universal Credit housing element claimants and to existing Housing Benefit claimants.</p>


        <p> <i>Thank you for your interest, please call 0203 405 6736 to discuss your financial requirements </i> </p>

    </div>