
<div class="text-center" style="color: #2B588F;">
    <h1>What expenses can I claim through my limited company?</h1>
</div>


<div>


    <p>When it comes to understanding what expenses you can claim through your company as a company director, there is one phrase it is important to remember. Your expenses must be incurred &#8220;<a href="https://www.gov.uk/hmrc-internal-manuals/business-income-manual/bim37025">wholly and exclusively</a>&#8221; for business purposes.</p>



    <p>But first, let&#8217;s understand exactly how &#8216;expenses&#8217; are defined and what the implications of paying for them through your company are. We will then go through some examples of what is &#8216;allowable&#8217; or not for tax purposes.</p>



    <p>In order to do any business whatsoever, you will invariably have to pay suppliers or staff to carry out work in order to provide your service or product to your customers. These payments generally fall under &#8216;cost of sales&#8217; alongside any other <strong>expenses incurred directly from the sale of goods or services</strong>, such as materials. You will also potentially come up against a large number of &#8216;overheads&#8217;. These consist of things like business insurance, office rent &amp; equipment, professional fees and other <strong>unavoidable outgoings that are necessary</strong> for the company to continue trading.</p>



    <div class="wp-block-image"><figure class="alignright is-resized"><img data-attachment-id="1755" data-permalink="https://schoolgateaccounting.com/claiming-for-job-related-expenses/claiming-expenses/" data-orig-file="https://i0.wp.com/schoolgateaccounting.com/wp-content/uploads/2018/05/claiming-expenses-1.jpg?fit=800%2C500&amp;ssl=1" data-orig-size="800,500" data-comments-opened="1" data-image-meta="{&quot;aperture&quot;:&quot;0&quot;,&quot;credit&quot;:&quot;&quot;,&quot;camera&quot;:&quot;&quot;,&quot;caption&quot;:&quot;&quot;,&quot;created_timestamp&quot;:&quot;0&quot;,&quot;copyright&quot;:&quot;&quot;,&quot;focal_length&quot;:&quot;0&quot;,&quot;iso&quot;:&quot;0&quot;,&quot;shutter_speed&quot;:&quot;0&quot;,&quot;title&quot;:&quot;&quot;,&quot;orientation&quot;:&quot;0&quot;}" data-image-title="cutting tax" data-image-description="" data-medium-file="https://i0.wp.com/schoolgateaccounting.com/wp-content/uploads/2018/05/claiming-expenses-1.jpg?fit=300%2C188&amp;ssl=1" data-large-file="https://i0.wp.com/schoolgateaccounting.com/wp-content/uploads/2018/05/claiming-expenses-1.jpg?fit=800%2C500&amp;ssl=1" src="https://i0.wp.com/schoolgateaccounting.com/wp-content/uploads/2018/05/claiming-expenses-1.jpg?resize=436%2C273&#038;ssl=1" alt="cutting tax" class="wp-image-1755" width="436" height="273" data-recalc-dims="1" /></figure></div>



    <p>On your company&#8217;s annual <strong><a href="https://schoolgateaccounting.com/an-introduction-to-financial-statements/">profit &amp; loss statement</a></strong>, these expenses will all be accounted for to calculate how much corporation tax you owe HMRC at the end of the year. As a result, it follows logically that the higher your expenses, the lower your profit. Consequently the amount of tax you will pay will decrease.</p>



    <p>As first mentioned, however, HMRC have a strict definition as well as a multitude of exemptions and exceptions of what counts as a business expenditure. As a result it is important to understand what you can and can&#8217;t pay for to decrease your tax liability. Please note that you can still use your company card to pay for non-tax-deductible expenses through your company. These expenses will just be added back to your profits before calculation of corporation tax when you submit your annual accounts. If the expenses are of a personal nature, they count as a <a href="https://schoolgateaccounting.com/what-is-a-directors-loan-account/">director&#8217;s loan</a> and you will have to pay them back to the company at the end of the year.</p>



    <h2>What expenses are tax deductible?</h2>



    <p>Most expenses that are wholly and exclusively paid for business purposes are tax deductible. This includes things such as <strong>salaries, office rent, stationery, business insurance, accountancy &amp; legal services, travel (not commuting), marketing and raw materials</strong>.</p>



    <div class="wp-block-image"><figure class="alignleft is-resized"><img data-attachment-id="2601" data-permalink="https://schoolgateaccounting.com/what-expenses-can-i-claim-through-my-limited-company/hmrc-investigation/" data-orig-file="https://i0.wp.com/schoolgateaccounting.com/wp-content/uploads/2019/10/hmrc-investigation.jpg?fit=640%2C420&amp;ssl=1" data-orig-size="640,420" data-comments-opened="1" data-image-meta="{&quot;aperture&quot;:&quot;0&quot;,&quot;credit&quot;:&quot;&quot;,&quot;camera&quot;:&quot;&quot;,&quot;caption&quot;:&quot;&quot;,&quot;created_timestamp&quot;:&quot;0&quot;,&quot;copyright&quot;:&quot;&quot;,&quot;focal_length&quot;:&quot;0&quot;,&quot;iso&quot;:&quot;0&quot;,&quot;shutter_speed&quot;:&quot;0&quot;,&quot;title&quot;:&quot;&quot;,&quot;orientation&quot;:&quot;0&quot;}" data-image-title="" data-image-description="" data-medium-file="https://i0.wp.com/schoolgateaccounting.com/wp-content/uploads/2019/10/hmrc-investigation.jpg?fit=300%2C197&amp;ssl=1" data-large-file="https://i0.wp.com/schoolgateaccounting.com/wp-content/uploads/2019/10/hmrc-investigation.jpg?fit=640%2C420&amp;ssl=1" src="https://i0.wp.com/schoolgateaccounting.com/wp-content/uploads/2019/10/hmrc-investigation.jpg?resize=401%2C263&#038;ssl=1" alt="hmrc investigation" class="wp-image-2601" width="401" height="263" data-recalc-dims="1" /></figure></div>



    <p>One notable exception here is client entertainment and gifts, even if they are genuinely incurred for business purposes. If expenses are for anything other than business use, or even a mix of business and personal use, as a general rule these expenses are not allowable. For instance, whilst your accountancy expenses for your company are allowable, you cannot pay for your Self Assessment through the company.</p>



    <p>Other forms of tax relief include <a href="https://schoolgateaccounting.com/claim-tax-back-hmrc-research-development-company/">R&amp;D tax credits</a>, <a href="https://schoolgateaccounting.com/could-you-qualify-for-entrepreneur-tax-relief/">Entrepreneur Relief</a>, and Capital Allowances. When you spend money on assets for your company (such as equipment, machinery or business vehicles) you can use your company’s Annual Investment Allowance (AIA) for relief of up to £1mn (until the end of 2020).</p>



    <p>You can find an even longer list, along with advice on decreasing your tax liability in our article on <a href="https://schoolgateaccounting.com/profit-extraction-strategies-tax-efficiency/">Profit Extraction Strategies here</a>.</p>



    <h2>Pre-trading expenses</h2>



    <p>If you incurred any expenses before your company started trading, you are allowed to claim these back as long as you keep all the evidence of such transactions (receipts or invoices). The expenses must also not have been incurred longer than 7 years before the business began trading.</p>



    <p>Typical expenses might include accountancy fees, business insurance, IT/website setup costs or stationery. Once again, however, these fees must be incurred &#8220;wholly and exclusively&#8221; for business purposes. It is also important to note that you should not make any purchases in your business&#8217;s name before the company has been opened with Companies House.</p>



    <h2>Employee expenses and benefits</h2>



    <p>In general, any expense claims incurred by your employees that are wholly and exclusively for business purposes are also tax deductible. This also includes salaries &amp; pensions and travel (other than commuting). An expenses that is not tax-deductible is known as a benefit in kind, and is subject to <a href="https://schoolgateaccounting.com/what-taxes-do-i-have-to-pay-as-a-company-director/">tax and National Insurance</a>.</p>



    <p>You can find a full detailed A-Z list of expenses and benefits for employees <a href="https://www.gov.uk/expenses-and-benefits-a-to-z">here</a>. It is also worth noting that, as a company director, you are also an employee.</p>



    <h2>Reporting via a P11D</h2>



    <p>As a company director, you will have to report all expenses and benefits to HMRC throughout the year. This is done through a <a href="https://www.gov.uk/government/publications/paye-end-of-year-expenses-and-benefits-p11d">P11D</a> form and indicates how much National Insurance you need to pay HMRC. If you do not owe NI, you can complete a declaration to this effect.</p>


    <p> <i>Thank you for your interest, please call 0203 405 6736 to discuss your financial requirements </i> </p>

</div>
