
<div class="text-center">
    <h1 style="color: #2B588F;">Companies House deadlines and Coronavirus</h1>
</div>


<div class="container">

    <div class="row" style="padding-bottom:20px;">
        <img src="~/Content/images/articles/companies-house-deadlines.jpg" class="mx-auto d-block" />
    </div>



    <p>Companies House is advising businesses to take appropriate measures to file on time. If, immediately before the filing deadline, it becomes apparent that accounts will not be filed on time due to your company being affected by Coronavirus (COVID-19), you may make an application to extend the period allowed for filing. Effective, 25 March 2020, businesses can apply for a 3-month extension for filing their accounts. You must apply for the extension before your filing deadline. The best way to file is using the Companies House fast-tracked online system.</p>



    <p>If you do not apply for an extension and your accounts have been filed late, an automatic penalty will be imposed. The registrar has limited discretion to cancel the collection of a penalty.</p>



    <p>Companies House has stated that each appeal is treated on a case-by-case basis, and they already have policies in place to deal with appeals based upon unforeseen poor health. Appeals based upon COVID-19 will be considered under these policies.</p>


    <p> <i>Thank you for your interest, please call 0203 405 6736 to discuss your financial requirements </i> </p>
</div>
