
<div class="text-center" style="color: #2B588F;">
    <h1>COVID-19 and claiming benefits</h1>
</div>


<div class="entry-content content">



    <p>The government has announced that certain benefits will be increased as part of the package of measures to help households affected by COVID-19. This will see the standard rate of Universal Credit and Tax Credits increased by £20 a week (£1,040 per year) for one year from 6 April 2020.</p>



    <p>It has earlier been announced as part of the Budget measures that the self-employed are to be provided with easier access to Universal Credits and the Contributory Employment and Support Allowance. This means that the self-employed with no income can effectively claim Universal Credit in the same way as someone who&#8217;s unemployed. However, there is a five-week waiting period before a first payment is made. An advance payment can be claimed once a claim is accepted but must be paid back. The usual requirement to attend a Jobcentre in person is currently not required and claims can be made on-line.</p>



    <p>There will also be up to&nbsp;£1bn of additional support for renters&nbsp;through increases in housing benefit and Universal Credit. From April, Local Housing Allowance rates will pay for at least 30% of market rents in each area. This applies to all private renters who are new or existing Universal Credit housing element claimants and to existing Housing Benefit claimants.</p>



    <p> <i>Thank you for your interest, please call 0203 405 6736 to discuss your financial requirements </i> </p>

</div>
