<div class="text-center">
    <h1>
        CHANGES IN CORONAVIRUS JOB RETENTION SCHEME
    </h1>
</div>


<div>
    <p>
        Despite the expectations that furlough scheme will not be extended, the government has announced that the coronavirus job retention scheme will continue to operate until 30 September 2021.  Employers will not need to contribute anything until 1 July.
    </p>

    <h3>
        Employees

    </h3>
    <p>

        Until 1 July 2021: The government pays a grant amounting to 80% of furloughed employees' salaries for those hours (up to the cap of £2,5000 per month).  Employers must pay normal wages for any hours employees work.
        From 1 July 2021: The employers will have to pay 10% of employees' salaries for the hours not worked and the government will pay 70% of salaries.
        From August 2021: The employers will have to pay 20% of employees' salaries for the hours not worked and the government will pay 60% of salaries.
    </p>
    <h3>

        Self-Employed
    </h3>

    <p>

        Forth Grant: The grant for period from February to April 2021.  The grant is worth 80% of three months' average trading profits up to £7,500.
        Fifth Grant: If the individuals' turnover has fallen by more than 30%, they may claim the full 80% of three months' average trading profits (up to £7,5000).  If their turnover has fallen by less than 30%, they may claim 30% of three months' average trading profits (up to £2,850).

    </p>



</div>
