
<div class="text-center" style="color: #2B588F;">
    <h1>Starting a business during Coronavirus</h1>
</div>


<div>

    <p>History shows, successful companies can be born in tough times. Previous financial crises have given rise to high-profile companies, for example, WhatsApp, Instagram, Uber and Airbnb, they were all founded during economic downturns. </p>

    <p>
        We are certainly in a downturn again now. Small businesses across the country were shutting down amid the spreading coronavirus pandemic. In the same time, new businesses are forming in this environment. Some are "necessity entrepreneurship"- when jobs are scarce more people choose to start businesses. For many, challenging time like now is seen as good opportunity, because all the changes we face, positive or negative alike, bring up new customer needs. And customer needs are at the core of any business.
    </p>
    <p>
        Determining what customers need now, rather than before the pandemic, is crucial. Entrepreneurs see the business opportunity in offering solutions to the challenges that people now face, such as keeping safe, educating their children, working from home, managing supply chains, getting a haircut or the house cleaned, seeing doctors and therapists, entertaining themselves.
    </p>
    <p>
        When pondering your business idea, try to ask yourself the below questions.
        •	Have I identified a new need that customers have?
        •	Can I serve this need in a way that is better than the current alternatives?
        •	Am I qualified to solve this customer problem?
        •	If I don't have the experience, can I hire others or find a co-founder to help me?
        •	Do I need or have access to funding that can tide me over until my business is profitable?
        If you are happy with your answers, but not sure about the stages it needs to develop your business idea to a viable business, here are some essential things to consider.
        Write a sound business plan
        Unexpected costs and poor budgeting are two of the main reasons for the high business failure rate (on average, only 44% of business survive beyond five years). A well-thought-out business plan will not only provide your start-up with a clear direction and contingencies in the case of unexpected events, but it can also be vital in securing investment.
        It would require you to research and understand your market thoroughly, analyse your competitor, lay down financial forecasting and details of marketing channels, etc. It would answer questions like: How many people will buy your product or service, who are they and how will you be able to reach them?
        Revisit your business plan regularly, review and amend as continue your journey.
    </p>
    <p>
        Choose a business structure
        You’ll need to decide if you’re going to start a business as a sole trader, in a partnership or as a limited company. All of these have different tax issues to consider, as well as different liability considerations.
        Many businesses will set up as a sole trader to start with as it involves minimal red tape, but it's worth assessing whether a limited company, for example, might offer more benefits. It’s possible to change your business structure once you've started, but it makes sense to think about it now!
    </p>
    <p>
        HMRC, insurance, and staying legal
        Every business must fulfil your legal obligations, make sure you’re properly insured, legally secure, registered for tax, inform HMRC in time after trading, and pay your tax properly – use the HMRC website to get set up and registered. It may be worth speaking to an accountant to help you with this.
        Also important to keep on your start-a-business-checklist – setting up a public liability insurance policy and getting organized with any licenses or permits you might need. For instance, you would need licenses for working with children, running an accountancy firm, carry out health and safety checks. You need to research your industry thoroughly and keep an eye on any changing requirements.
    </p>
    <p>
        Tracking business activity
        You’ll need to keep track of your business transactions. If you are working as a sole trader or you have opened a limited company, it is highly advisable (though not a legal requirement) to open a commercial bank account to separate business transactions from personal ones. This will make your life much simpler when it comes to your bookkeeping. There are a number of tools to help you track transaction, such as QuickBooks and Xero, though a simple spreadsheet may suffice to start with.
        If at this stage you also need to begin considering staff, then it is always worth considering using an external HR agency or payroll specialist to ensure that your business is compliant and your operations are managed professionally.
        In addition to the internal tracking required to monitor your company, you may also need to implement new systems to track sales and revenue with EPOS systems, and managing a company's interaction with current and potential customers with CRM products.
    </p>
    <p>
        Decide on your branding
        A business’ name, logo and business cards can be the difference between failure and success. When the time comes to settle on your branding, you may want to check the business name you want is available as a web domain, and then registering a domain. If you choose to register as a limited company, then you need to search the register on Companies House database if your ideal name is still available.  You can then look into the visual aspects of your business name, which will include your logo, web design, business cards and other branded items you may need.
        Given the pandemic, now is the time to focus more on your digital marketing strategy, and how you are portrayed to your customers online. Here are some common tools to consider.
        •	Website is the foundation of your online existence, and what ties all things digital together.
        •	Google My Business to make sure you get your business listed on Google.
        •	Social Media stays active and strategic, and using social channels as a tool of communication with your customers.
        •	eCommerce to put your business in the best position to meet your customers’ new needs.
        •	Promote Online through paid ads are Google Ads, Microsoft Ads, and Facebook as well as other social media outlets such as Instagram and LinkedIn.
    </p>
    <p>
        Get equipped
        Think about what equipment and resources you will need to start your business. Many may be allowable as a business expense, such as computer, mobile, insurance, travel expense, rent, etc.
    </p>
    <p>
        Start selling!
        You need to know how you will promote your product or service and who you will target. This will already be in your business plan, but now it's time to put it into action.
        Good luck!
    </p>


<p> <i>Thank you for your interest, please call 0203 405 6736 to discuss your financial requirements </i> </p>

</div>
