
<div class="text-center">
    <h1 style="color: #2B588F;">Coronavirus Job Retention Scheme </h1>
</div>


<div>


    <div class="row" style="padding-bottom:20px;">
        <img src="~/Content/images/articles/d664ff71-e18c-4227-894d-222448a44e10.jpg" class="mx-auto d-block" />
    </div>


    <p>The CJRS scheme was introduced on 1 March 2020, and its first phase will end on 30 June 2020 with proposed changes to take place as the lockdown eases, with a deadline of 31 July to make claims for the first phase. The second phase is currently due to continue until 31 October.</p>



    <h2>What does ‘furloughed’ mean?</h2>



    <p>A furlough is a special leave of absence granted to employees. In the context of the Coronavirus outbreak, a furloughed staff member is one who cannot work because of the lockdown. Furloughed employees should stay at home and should not be working. They are allowed to study or train, as long as these activities do not generate income for the employer.</p>



    <h2>Which employees does CJRS apply to?</h2>



    <p>Any employees who were on the company payroll before 19 March 2020 are eligible for the scheme. This includes zero hours contract workers and foreign workers. If you are a director on the CJRS, only your salary is covered by the scheme (not your dividend income). If an employee was made redundant or stopped working between 28 February and 19 March, you are allowed to re-employ them and put them on the scheme.</p>



    <h2>How does CJRS work?</h2>



    <p>HMRC have set up an online system for reimbursement of funds. You can only apply online. You can use <a href="https://www.gov.uk/guidance/work-out-80-of-your-employees-wages-to-claim-through-the-coronavirus-job-retention-scheme">HMRC&#8217;s calculator</a> to work out 80% of your employee’s salary and then submit the application form online. Only employees who were on the payroll on or before 19 March 2020 are eligible to receive funding.</p>



    <h2>What do I need in order to apply for CJRS funding?</h2>



    <p>To apply, you will require the following:</p>



    <ul><li>The bank account number and sort code you’d like to use when we pay your claim.</li><li>The name and phone number of the person in your business for us to call with any questions.</li><li>Your Self Assessment UTR (Unique Tax Reference), Company UTR or CRN (Company Registration Number).</li><li>The name, employee number and National Insurance number for each of your furloughed employees.</li><li>The total amount being claimed for all employees and the total furlough period.</li></ul>



    <p>Click <a href="https://www.gov.uk/guidance/claim-for-wages-through-the-coronavirus-job-retention-scheme">here</a> to make a claim.</p>



    <p>If you are furloughing more than 100 employees, you will need to upload a file including all the following details for each member of staff:</p>



    <ul><li>Full name</li><li>National Insurance number</li><li>Payroll number (optional)</li><li>Furlough start date</li><li>Furlough end date (if known)</li><li>Full amount claimed</li></ul>



    <p>You can download a template here.</p>



    <h2>Can I apply for funding for previous months?</h2>



    <p>Yes, you can. Don’t delay on applying, as the scheme is changing at the end of June, with 31 July looking likely to be the deadline for applying for phase 1 of the CJRS.</p>



    <h2>How soon will I receive funding?</h2>



    <p>You should receive funding within 6 working days after submitting your application.</p>



    <h2>How long will the scheme last?</h2>



    <p>The CJRS was launched on 20 April 2020. The scheme was originally due to run for at least 3 months, backdated from 1 March 2020. It has now been extended until the end of October, with a flexible arrangement from 1 July 2020 to allow employees to resume part-time work. Further clarifications will be published on 12 June. It may be extended further depending on the rapidly changing circumstances.</p>

    <p> <i>Thank you for your interest, please call 0203 405 6736 to discuss your financial requirements </i> </p>

</div>
