<div class="text-center">
    <h1> Brexit and Your Business</h1>
</div>


<div>
    <p>
        Britain officially left the EU on 31st December 2019 and has since been in the Transition Period from the EU. This Transition Period ended at 23:00 GMT on 31st December 2020 and many rules have changed regarding trade, goods and tax. We have outlined below a few, important changes which may affect you and your business in reference to trade with the EU, post-Brexit and the Transition Period.
    </p>
        <h4>
        1.	VAT Changes
    </h4>
    <p>
        If you trade with countries within the EU and require moving products purchased from within the EU, you will need to pay VAT on point of purchase over point of entry. This may require you to set up a VAT account should you not have one already with HMRC. These rules apply now for trade with countries both inside and out of the EU.
        <br />All companies planning to import goods or services from the EU must have an account with CDS (Customs Declaration Services), which will enable you to view statements regarding any postponed VAT from imported goods. Unfortunately, the new monthly statements for VAT are not yet available within this service. However, any import VAT accrued will be added to the VAT statement on both CDS and CHIEF accounts.
        <br />These changes will only count for imports brought into the UK, and do not include Northern Ireland. All postponed VAT accounting for Northern Ireland will be accounted for as prior to 1st January 2021.
    </p>
    <h4>2.	Trader Support Service for goods moving between Great Britain and Northern Ireland </h4>
    <p>
        A new Trader Support Service has been set up by the UK Government to help businesses move haulage and goods into and out of Great Britain and Northern Ireland. As the rules affecting trade between the UK and EU have not changed for Northern Ireland, new rules now apply when moving trade through the area of the UK.
        <br />The Trader Support Service will allow you to complete declarations through your account, submit declaration directly through the Government service and shows all the information and advice for businesses requiring this support. Free training and advice are also included from the Northern Ireland Customs and Trade Academy (NICTA). To register follow this link here: https://www.tradersupportservice.co.uk/tss
    </p>
    <h4>3.	Importing and Exporting Goods from the EU</h4>
    <p>
        There are now new rules regarding importing and exporting goods to and from the EU. The new Trade and Cooperation Agreement between the UK and EU was agreed upon on 24th December 2020 and provisional agreements for exports and imports are running from 1st January to 28th February as a trial period as well as while waiting for the EU to ratify the Agreement.
        <br /> As it stands, some of the key points of the Trade and Cooperation Agreement are:
        <br />  There are currently no tariffs or quotas on goods, provided they meet the rules of origin.
        <br />  Both sides of the agreement have subsidy and state aid powers, requiring that this system is both effective and has an independent oversight.
        <br /> 	UK is still participating in some EU schemes including: Horizon Europe (Research), Euratom Research and Training, ITER fusion and Copernicus (satellite system).
        <br />  All imports and exports from the UK must comply with the TCA and is subject to change as it has yet to be ratified by the EU Parliament, despite being ratified as part of the EU Future Relationship Bill by the UK Government on 30th December 2020. Download of the official overview of the TCA can be found here: https://commonslibrary.parliament.uk/research-briefings/cbp-9106-2/
        <br />  For imports, there are some specific new rules as well. Licence certificates may need to be acquired for the following products: animals and animal products, plants and plant products, high risk food, veterinary medicines, human medicines, controlled drugs, tissues and cells for human applications, waste, products containing F gas, precursor chemicals, hazardous chemicals, nuclear material, guns, knives, swords and other weapons and weapons and goods that could be used for torture or capital punishment.
        <br /> For a full list of all steps required for importing goods into the UK, this can be found here: https://www.gov.uk/import-goods-into-uk
        <br />  Should you have any further queries or are unsure of any processes required for your business when trading or importing goods or services from the EU, you can find more Government advice here: https://www.gov.uk/transition
    </p>
 

</div>
