<div class="text-center">
    <h1>
        March Budget 2021: What are the expected
        announcements?
    </h1>
</div>


<div>
    <p>
        The March 2021 budget will be announced at 12:30 Wednesday 3 March. This is when the
        budget for the next Quarter of the ear is announced, regarding Government spending and an
        overview of the financial situation of the UK. While the budget has yet to be announced, it is
        expected that several announcements will be made regarding:<br />
        ● Potential rise in taxes, especially Corporation Tax and Capital Gains Tax<br />
        ● Further support for those struggling under Covid-19 lockdown rules<br />
        ● VAT and business rates relief to be extended<br />
        While this is yet to be confirmed until Friday, we have detailed below for you some of the details
        these changes may entail.
    </p>
    <h4>
        Covid-19 Support Schemes
    </h4>
    <p>
        Rishi Sunak has confirmed that ‘there’s more to come’ in regards to aid for Covid-19
        (https://www.bbc.co.uk/news/uk-politics-56229143). There have been several rumoured
        changes regarding these, especially concerning Universal Credit and the furlough scheme.
        <br />

        The furlough scheme is due to come to an end 30 April 2021, however experts from the Institute
        of Economic Affairs and the National Institute of Economic and Social Research have suggested
        a more gradual leave from furlough, potentially a further extension due to the unprecedented
        third lockdown. Further to this, they have also suggested that the government extend the
        deadline for the end of £20 per week extra Universal Credit per claim that was due to end the
        same date as furlough. This will endeavour to aid in the recovery of the economy while
        businesses reopen through the different stages of the recent announcement regarding the way
        out of this third lockdown. However, so far Rishi Sunak has made no comment to confirm
        whether either of these schemes will be found within the March 2021 Budget.
        <br />
        Further to this, there are rumoured cuts alcohol duty for alcoholic beverages sold within UK
        pubs. Due to Brexit, the UK is now free to implement its own alcohol duty or remove it
        completely, in an attempt to allow pubs to compete with supermarket prices, which data shows
        have benefited greatly during lockdown while pubs were forced to close. Prime Minister Boris
        Johnson stated that ‘There is just such a review being carried out after consulting pub owners
        and brewers and others, and I know that the Chancellor is looking very closely at the findings’
        (https://www.telegraph.co.uk/business/2021/03/01/spring-budget-2021-rishi-sunak-when-annou
        ncement-date-time/) when consulted on the topic during PMQs in the week leading up to the
        announcement of the Budget. This could be an indicator as to a reduction in alcohol duty to aid
        in the recovery of pubs once permitted to reopen.
    </p>
    <h4>
        VAT and Tax Rises
    </h4>
    <p>
        Another expected announcement within the budget, is in regard to VAT and a potential
        continuation of business rates relief. The Hospitality sector has seen a cut for VAT from 20% to
        5%, due to end on 31 March 2021. It is expected that this scheme may be extended into the
        Summer, due to hospitality businesses seeing the far later opening dates on the Government’s
        plans to reopen the UK economy.
        <br />
        There have also been rumoured rises for both Corporate and Tax. While Corporation Tax could
        be increased to 25%, it is thought that this would be lessened for small businesses and
        entrepreneurs. However, it is uncertain if this rise in corporation tax would be immediately within
        this budget, or gradually increase to 25% by 2024.
        <br />
        While none of these changes have been confirmed, there are hints that some of these
        upcoming changes may be involved within the Budget especially with the Chancellor confirming
        that further changes will be coming.
    </p>

 

</div>
