
@{
    ViewBag.Title = "FlexibleFurlough";
    Layout = "~/Views/Shared/_ArticleLayout.cshtml";
}
@Styles.Render("~/Content/FormStyle.css")

<style>
   
</style>
<section class="hero-section" id="hero">
    <div class="container">
        <div class="row">
            <div class="col-12 hero-text-image">
                <div class="row">
                    <div class="col-lg-5 iphone-wrap">
                        <a href="/Home/Index">
                            <img src="~/assets/images/Logo.svg" alt="" class="hero-section-img" />
                        </a>
                    </div>
                    <div class="col-lg-7 text-center text-lg-left" style="padding-top: 2rem;">
                        <h2 data-aos="fade-right">Quick-Point Letter Generator</h2>
                        <p class="mb-4" data-aos="fade-right" data-aos-delay="100">
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section><!-- End Hero -->
<div class="text-center">
    <h2>Temporary Furlough Letter Generator</h2>
</div>
<div>

    @using (Html.BeginForm("TempFurl", "LetterGenerator", FormMethod.Post, new { enctype = "multipart/form-data", @class = "LetterGenForm row col-lg-12 col-md-12 col-sm-12" }))
    {
        <div class="container col-md-3 col-sm-12 formcol">
            <h4>Furlough Details</h4>
            <!-- Other Detail-->
            <div class="field">
                <label for="">
                    <i class="far fa-user"></i>Date of Furlough Start
                </label>
                <input type="date" name="StartDate" placeholder="e.g. 01/01/2020" required />
            </div>
            <div class="field">
                <label for="">
                    <i class="far fa-user"></i>Weekly Wage On Furlough
                </label>
                <input type="number" name="WeeklyPay" placeholder="£2,000" required />
            </div> <div class="field">
                <label for="">
                    <i class="far fa-user"></i>Contractual entitlements to pay and other financial benefits during the furlough period (please list with commas)
                </label>
                <input type="number" name="Benefits" placeholder="benefit 1, benefit 2" />
            </div>
        </div>
        <div class="container col-md-3 col-sm-12 formcol">
            <h4>Business Details</h4>
            <!--Sending Adress-->
            <div class="field">
                <label for="Name of Sender">
                    <i class="far fa-user"></i>Name of Employer
                </label>
                <input type="text" name="SenderName" placeholder="e.g. Business 1" required />
            </div>
            <div class="field">
                <label for="Name of Sender">
                    <i class="far fa-user"></i>HR/Manager who furlough was discussed with
                </label>
                <input type="text" name="Manager" placeholder="e.g. John" required />
            </div>
            <div class="field">
                <label for="Name of Sender">
                    <i class="far fa-user"></i>Date of furlough discussion with employee
                </label>
                <input type="date" name="DiscussionDate" placeholder="04-01-2021" required />
            </div>
            <div class="field">
                <label for="">
                    <i class="far fa-user"></i>Furlough Agreement Document Return Deadline
                </label>
                <input type="date" name="ReturnDeadline" placeholder="04-01-2021" required />
            </div>
        </div>
        <div class="container col-md-3 col-sm-12 formcol">
            <!--Recipient Adress-->
            <h4>Recipient Details</h4>
            <div class="">
                <label for="Name of recipient">
                    <i class="far fa-user"></i>Name of recipient
                </label>
                <input type="text" name="RecipientName" placeholder="e.g. John Smith" required />
            </div>

            Please tick to agree with our T&C's
            <br />
            <input type="checkbox" name="GDPR" required style="width:auto;" />

            Your letter will be emailed to the sender email, please specify this email below:
            <div class="field">
                <label for="">
                    <i class="far fa-user"></i>Email to recieve letter
                </label>
                <input type="text" name="Email" placeholder="e.g. apple@orange.com" required />
            </div>
            <div style="width:100%; align-items:center; justify-content:center;">
                <button type="submit">Generate Letter</button>
            </div>

        </div>
    }
</div>
