@{
    ViewBag.Title = "MeetTheTeam";
}

<section class="hero-section" id="hero">
    <div class="wave">
        <svg width="100%" height="355px" viewBox="0 0 1920 355" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <g id="Apple-TV" transform="translate(0.000000, -402.000000)" fill="#FFFFFF">
                    <path d="M0,439.134243 C175.04074,464.89273 327.944386,477.771974 458.710937,477.771974 C654.860765,477.771974 870.645295,442.632362 1205.9828,410.192501 C1429.54114,388.565926 1667.54687,411.092417 1920,477.771974 L1920,757 L1017.15166,757 L0,757 L0,439.134243 Z" id="Path"></path>
                </g>
            </g>
        </svg>
    </div>
    <div class="container">
        <div class="row align-items-center">
            <div class="col-12 hero-text-image">
                    <div class="col-lg-7 text-center text-lg-left">
                        <div class="row">
                            <h1 data-aos="fade-right">Meet The Sterling-Beanland Team</h1>
                            <p class="mb-4" data-aos="fade-right" data-aos-delay="100">
                                Blah blah blah about the team Blah blah blah about the team Blah blah blah about the team Blah blah blah about the team Blah blah blah about the team
                            </p>
                            <div class="row">
                                <img src="~/assets/images/sterlingLawLogo.jpg" />
                                <div style="width:20px;"></div>
                                <img src="~/assets/images/InnovateUKLogo.png" />
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</section><!-- End Hero -->

<main id="main">
    <!-- ======= Describe Section ======= -->
    <section class="section section-describe">
        <div class="container">
            <div class="row justify-content-center text-center mb-5">
                <div class="col-md-9" data-aos="fade-up">
                    <h2 class="section-heading">The Law Team</h2>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4" data-aos="fade-up" data-aos-delay="">
                    <div class="feature-1">
                        <div>
                            <img src="~/assets/images/Heads/Inna.jpg" style="width:100%; height:100%;" />
                        </div>
                        <h4>Inna Semeniuk</h4>
                        <h6>Legal Specialist, SRA registered</h6>
                        <h6>Business Immigration, Employment Law, Family Law, Commercial Law, Legal Tech</h6>
                        <p style="font-size:12px;">
                            Inna provides legal support to London-based tech start-ups, large corporations and private individuals. Background in AI (artificial intelligence), machine learning and blockchain combined with skills in Python (programming language). Track record of adopting legal technologies to automate internal processes. Keen human rights advocate with a Law Society Immigration and Asylum Accreditation certificate, helping people pro bono.

                            Inna has extensive legal experience, and can answer all your questions relating to business legislation.
                        </p>
                    </div>
                </div>
                <div class="col-md-4" data-aos="fade-up" data-aos-delay="">
                    <div class="feature-1">
                        <div>
                            <img src="~/assets/images/Heads/Ruslan.jpg" style="width:100%; height:100%;" />
                        </div>
                        <h4>Ruslan Kosarenko</h4>
                        <h6>Partner</h6>
                        <h6></h6>
                        <p style="font-size:12px;">
                            Successful UK Immigration and Human Rights Lawyer recognised by Legal 500 in the areas of business Immigration and Human Rights, working to protect the clients' interests to ensure the corporate and individual immigration needs and objectives are met.
                            Ruslan is very well known for handling high profile asylum claims, complex immigration applications and appeals. In 2009 he founded Sterling & Law Associates, a successful law firm based in the City of London, which has been recognised in the recent edition of Legal 500.
                            In addition, Ruslan has extensive experience in a wide range of corporate immigration matters. His key areas of expertise are Sponsor Licence to employ migrant workers, Tier 2, Tier 5 and Tier 1 applications in all sub-categories.
                        </p>
                    </div>
                </div>
                <div class="col-md-4" data-aos="fade-up" data-aos-delay="">
                    <div class="feature-1">
                        <div>
                            <img src="~/assets/images/Heads/Nataliya.jpg" style="width:100%; height:100%;" />
                        </div>
                        <h4>Nataliya Varahash</h4>
                        <h6>Immigration Lawyer, OISC registered</h6>
                        <h6>Business Immigration, Sponsor License Applications, PBS Applications</h6>
                        <p style="font-size:12px;">
                            Nataliya is an experienced corporate immigration lawyer, acknowledged in Legal 500. She is responsible for numerous successful Sponsor Licence applications for both small start-ups and multinational companies in all types of industries from Fashion to Construction to IT. Nataliya deals with most complex cases including refusals, and re-applications.

                            Nataliya can answer all your questions relating to business immigration & visas, sponsor licence compliance, and Home Office requirements. Ask her a question directly through nataliya@sterling-law.co.uk
                        </p>
                    </div>
                </div>
                <div class="col-md-4" data-aos="fade-up" data-aos-delay="">
                    <div class="feature-1">
                        <div>
                            <img src="~/assets/images/Heads/yuriy.jpg" style="width:100%; height:100%;" />
                        </div>
                        <h4>Yuriy Lysenko</h4>
                        <h6>Partner - Immigration</h6>
                        <h6>Business Immigration, Sponsor License Applications, PBS Applications</h6>
                        <p style="font-size:12px;">
                            Yuriy deals with a wide range of private client immigration including most aspects of the UK points-based system and family immigration. He acts as a consultant in immigration law to the individual clients from Eastern Europe, CIS countries and other clients from all over the world.
                            Yuriy’s extensive knowledge enables him to offer clear solutions to complex immigration problems. He has experience across all immigration routes with a breadth of knowledge enabling him and his team to offer clear solutions to complicated immigration issues.
                        </p>
                    </div>
                </div>
                <div class="col-md-4" data-aos="fade-up" data-aos-delay="">
                    <div class="feature-1 text-center">
                        <div>
                            <img src="~/assets/images/Heads/Sterlingportraits.jpg" style="width:100%; height:100%;" />
                        </div>
                        <p>Specialist or trader with a limited company or other.</p>
                    </div>

                </div>
            </div>


        </div>

        <div class="container">
            <div class="row justify-content-center text-center mb-5">
                <div class="col-md-9" data-aos="fade-up">
                    <h2 class="section-heading">The Law Team</h2>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4" data-aos="fade-up" data-aos-delay="">
                    <div class="feature-1">
                        <div>
                            <img src="~/assets/images/Heads/Inna.jpg" style="width:100%; height:100%;" />
                        </div>
                        <h4>Inna Semeniuk</h4>
                        <h6>Legal Specialist, SRA registered</h6>
                        <h6>Business Immigration, Employment Law, Family Law, Commercial Law, Legal Tech</h6>
                        <p style="font-size:12px;">
                            Inna provides legal support to London-based tech start-ups, large corporations and private individuals. Background in AI (artificial intelligence), machine learning and blockchain combined with skills in Python (programming language). Track record of adopting legal technologies to automate internal processes. Keen human rights advocate with a Law Society Immigration and Asylum Accreditation certificate, helping people pro bono.

                            Inna has extensive legal experience, and can answer all your questions relating to business legislation.
                        </p>
                    </div>
                </div>
                <div class="col-md-4" data-aos="fade-up" data-aos-delay="">
                    <div class="feature-1">
                        <div>
                            <img src="~/assets/images/Heads/Ruslan.jpg" style="width:100%; height:100%;" />
                        </div>
                        <h4>Ruslan Kosarenko</h4>
                        <h6>Partner</h6>
                        <h6></h6>
                        <p style="font-size:12px;">
                            Successful UK Immigration and Human Rights Lawyer recognised by Legal 500 in the areas of business Immigration and Human Rights, working to protect the clients' interests to ensure the corporate and individual immigration needs and objectives are met.
                            Ruslan is very well known for handling high profile asylum claims, complex immigration applications and appeals. In 2009 he founded Sterling & Law Associates, a successful law firm based in the City of London, which has been recognised in the recent edition of Legal 500.
                            In addition, Ruslan has extensive experience in a wide range of corporate immigration matters. His key areas of expertise are Sponsor Licence to employ migrant workers, Tier 2, Tier 5 and Tier 1 applications in all sub-categories.
                        </p>
                    </div>
                </div>
                <div class="col-md-4" data-aos="fade-up" data-aos-delay="">
                    <div class="feature-1">
                        <div>
                            <img src="~/assets/images/Heads/Nataliya.jpg" style="width:100%; height:100%;" />
                        </div>
                        <h4>Nataliya Varahash</h4>
                        <h6>Immigration Lawyer, OISC registered</h6>
                        <h6>Business Immigration, Sponsor License Applications, PBS Applications</h6>
                        <p style="font-size:12px;">
                            Nataliya is an experienced corporate immigration lawyer, acknowledged in Legal 500. She is responsible for numerous successful Sponsor Licence applications for both small start-ups and multinational companies in all types of industries from Fashion to Construction to IT. Nataliya deals with most complex cases including refusals, and re-applications.

                            Nataliya can answer all your questions relating to business immigration & visas, sponsor licence compliance, and Home Office requirements. Ask her a question directly through nataliya@sterling-law.co.uk
                        </p>
                    </div>
                </div>
           </div>
        </div>
    </section>

</main><!-- End #main -->