@{
    ViewBag.Title = "About";
}

<div style=" display:inline-flex; width:100%; padding: 40px 10% 0px 10%">
    <div  style="display: inline-flex; width: 100%;">
       <a href="https://sterling-law.co.uk/en/"><img style="height:85px; width:273px;" src="/assets/images/sterlingLawLogo.jpg" /></a> 
        <div style="font-size:40px; font-weight:700; width:400px; height:100px; padding-top:15px;">
        About Quick Point
        </div>
        <a href="https://www.gov.uk/government/organisations/innovate-uk"><img src="~/assets/images/InnovateUKLogo.png"/></a>
    </div>
</div>

<div style="height:100px; width:100%;"></div>

<div style="font-size: 30px; font-weight: 600; ">
    Who Are We?
    <div style="font-size: 20px; font-weight: 300; ">
        We are a modern and innovative boutique law firm with a flexible can-do approach. Our cross-domain specialisation allows for seamless solutions whether you are a business or an individual, allowing us to solve most complex problems, where several areas of law are involved.
    </div>
    <div style="height:20px; width:50%; margin: 0px 25% 0px 25%; "></div>
    <div style="height:20px; width:50%; margin: 0px 25% 0px 25%; border-bottom:solid; border-bottom-color:gray; border-bottom-style:solid; border-bottom-width:0.2px;"></div>
    <div style="height:20px; width:50%; margin: 0px 25% 0px 25%; "></div>
    Our Mission
    <div style="font-size: 20px; font-weight: 300; ">
        We are providing a COVID-19 support portal to assist and support your personal, business and family needs.
    </div>
    <div style="height:20px; width:50%; margin: 0px 25% 0px 25%; "></div>
    <div style="height:20px; width:50%; margin: 0px 25% 0px 25%; border-bottom:solid; border-bottom-color:gray; border-bottom-style:solid; border-bottom-width:0.2px;"></div>
    <div style="height:20px; width:50%; margin: 0px 25% 0px 25%; "></div>
    Our Sponsors
    <div style="font-size: 20px; font-weight: 300; ">
        Collaborating with Innovate UK &copy; we are able to integrate the highest standard of information technology, with the best  support that we can provide 
    </div>
</div>
