
@{
    Layout = "~/Views/Shared/_BeanlandLayout.cshtml";
    ViewBag.Title = "Read Article";
}

<section class="hero-section-slim" id="hero">
    <div class="container" style="min-height:255px;">
        <div class="row">
            <div class="col-12 hero-text-image">
                <div class="row">
                    <div class="col-lg-5 iphone-wrap">
                        <img src="~/assets/images/Logo2x.png" alt="" class="hero-section-img" />
                    </div>
                    <div class="col-lg-7 text-center text-lg-left">
                        <h1 data-aos="fade-right">Quickpoint Articles </h1>
                        <p class="mb-4" data-aos="fade-right" data-aos-delay="100">
                            COVID-19 and claiming benefits
                        </p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section><!-- End Hero -->

<div class="container" style="padding-top:10px;">
    @Html.Partial("~/Views/Articles/_TaxAccArticle1.cshtml")
</div>

