@model Quick_Point.co.uk.ViewModels.Article
@{
    Layout = "~/Views/Shared/_BeanlandLayout.cshtml";
    ViewBag.Title = "Read Article";
}

<section class="hero-section-slim" id="hero">
    <div class="container" style="min-height:255px;">
        <div class="row">
            <div class="col-12 hero-text-image">
                <div class="row">
                    <div class="col-lg-5 iphone-wrap">
                        <img src="~/assets/images/Logo2x.png" alt="" class="hero-section-img" />
                    </div>
                    <div class="col-lg-7 text-center text-lg-left">
                        <h1 data-aos="fade-right">Quickpoint Articles </h1>
                        <h2 data-aos="fade-right"> Article: @Model.Description </h2>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section><!-- End Hero -->

<div class="container" style="padding-top:10px;">
    @Html.Partial(String.Format("~/Views/Articles/_{0}.cshtml", Model.ID))
    @*@Html.Partial($"~/Views/Articles/_TaxAccArticle1.cshtml")*@
</div>

