@{
    ViewBag.Title = "Contact";
}

@Styles.Render("~/Content/FormStyle.css")


<section class="hero-section" id="hero">
    <div class="container" >
        <div class="row">
            <div class="col-12 hero-text-image">
                <div class="row">
                    <div class="col-lg-5 iphone-wrap">
                        <a href="/Home/Index">
                            <img src="~/assets/images/Logo.svg" alt="" class="hero-section-img" />
                        </a>
                    </div>
                    <div class="col-lg-7 text-center text-lg-left" style="padding-top: 2rem;">
                        <h2 data-aos="fade-right">Contact Quick-Point</h2>
                        <p class="mb-4" data-aos="fade-right" data-aos-delay="100">
                            To receive further consultation from one of our highly trained Law or Accounting teams, please fill in your details below to submit a question and we will get back to you with an answer.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
   
</section><!-- End Hero -->

<main id="main">
    <!-- ======= Describe Section ======= -->
    <section class="section section-describe">

        <div class="container" style="margin-top:20px;">
            <div class="row mb-5">
                <div class="col-md-4" data-aos="fade-up">
                    <h2>Contact us via email</h2>


                    @using (Html.BeginForm("Contact", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {

                        <div class="field" tabindex="1">
                            <label for="username">
                                <i class="far fa-user"></i>Your Name
                            </label>
                            <input type="text" name="name" placeholder="e.g. Adam Smith" required />
                        </div>
                        <div class="field" tabindex="2">
                            <label for="email">
                                <i class="far fa-envelope"></i>
                                Email:
                            </label>
                            <input type="email" name="email" placeholder="email@domain.com" required />
                        </div>
                        <div class="field" tabindex="3">
                            <label for="message">
                                <i class="far fa-edit"></i>
                                Message:
                            </label>
                            <textarea style="height:100px; width: 600px;" type="text" name="message" rows="10" cols="10" placeholder="type here" required></textarea>
                            <br />
                            <br />
                            <div class="g-recaptcha" data-sitekey="6LdXXKwZAAAAALoHY-MFL10SeqJQXk0FT2x-wNy8" name="cap"></div>

                            <button type="submit" id="submit">Send</button>
                            <br />@ViewBag.Message
                        </div>
                        <h4>
                            Fleet House,
                            <br />
                            <br />8-12 New Bridge Street
                            <br />
                            <br />London EC4V 6AL
                            <br /> <br />sales@sterling-beanland.co.uk
                        </h4>


                    }

                </div>
                <div class="col-md-8">

                    <br />
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1064.2799265155393!2d-0.10484022648201573!3d51.51272324814367!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x48760535bbdfe969%3A0x5ad47290cd9504fc!2sSterling%20%26%20Beanland%20Ltd!5e0!3m2!1sen!2suk!4v1592820157130!5m2!1sen!2suk" width="700" height="800" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                </div>
            </div>
        </div>
        
    </section>
    

    <script src="https://www.google.com/recaptcha/api.js" async defer></script>


</main><!-- End #main -->