@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    8-12 NEW BRIDGE STREET
    Fleet House, London<br />
    EC4V 6AL<br />
    <abbr title="Phone">P:</abbr>
    +44 (0) 7 305 966 531
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:enquiries@quick-point.co.uk">enquiries@quick-point.co.uk</a><br />
</address>