
@{
    ViewBag.Title = "FAQ";
}

<section class="hero-section" id="hero">
    <div class="container" style="min-height:355px;">
        <div class="row">
            <div class="col-12 hero-text-image">
                <div class="row">
                    <div class="col-lg-5 iphone-wrap">
                        <a href="/Home/Index">
                            <img src="~/assets/images/Logo2x.png" alt="" class="hero-section-img" />
                        </a>
                    </div>
                    <div class="col-lg-7 text-center text-lg-left">
                        <h1 data-aos="fade-right">Question &amp; Answer Knowledge Base </h1>
                        <p class="mb-4" data-aos="fade-right" data-aos-delay="100">
                            Use you browsers search facility to find answers to your questions.
                        </p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section><!-- End Hero -->

<section class="section-chat">
    <div class="container" style="padding-top:10px; height:100%;">
        <div data-role="content" style="color: #263A75;">
            <div data-role="collapsible-set">
                <div data-role="collapsible">
                    <h3>Legal FAQ</h3>
                    <div data-role="collapsible-set">
                        <div data-role="collapsible">
                            <h3>Furlough FAQ</h3>
                            <div data-role="collapsible"><h3>Can transferred employees be furloughed by a new employer?</h3>If the employee is employed by one employer on 19 March but is transferred to another employer under the TUPE scheme later, they can be furloughed by the new employer.</div>
                            <div data-role="collapsible"><h3>How much can I claim under the Coronavirus Job Retention Scheme?</h3>Employers can claim 80% of an employee's salary up to £2,500 per month. In addition, you can claim Employer National Insurance contributions and auto-enrolment pension contributions that are payable at a reduced rate.</div>
                            <div data-role="collapsible"><h3>To be eligible for the Coronavirus Job Retention Scheme, do I need to prove that I cannot otherwise pay employees ?"</h3>It is not a requirement that the employer cannot otherwise pay its employees or that they need to make employees redundant. An employer can furlough workers if ""the instruction is given by reason of circumstances arising as a result of coronavirus or coronavirus disease"".</div>
                            <div data-role="collapsible"><h3>What information do I need to submit in order to apply to the Coronavirus Job Retention Scheme?</h3>The Government has published a step-by-step guide. https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/884664/Coronavirus_Job_Retention_Scheme_step_by_step_guide_for_employers.pdf. The information required is: 1. The number of employees to be furloughed; 2. The dates from and to which employees have been furloughed; 3. Details of employees - the name and National Insurance Number of each furloughed employee; 4. Your employer PAYE scheme reference number; 5. Your Corporation Tax Unique Taxpayer Reference, Self-Assessment Unique Taxpayer Reference or Company Registration Number as appropriate for your entity; 6. Your UK bank account details; 7. Your organisation's registered name; 8. Your organisation's address</div>
                            <div data-role="collapsible"><h3>Can my employee claim commission or overtime when furloughed?</h3>An employee cannot be on unpaid leave and furloughed at the same time. If an employee went on unpaid leave before 1 March 2020, they cannot be furloughed until the agreed period of unpaid leave expires. This is unless an agreement was reached to vary the end date of the unpaid leave after the leave began, and before 20 March 2020.</div>
                            <div data-role="collapsible"><h3>Do I have to re-employ workers who stopped working before Coronavirus Job Retention Scheme came into force?</h3>	The employer is not obliged to re-employ employees in order to place them under the furlough scheme.</div>
                            <div data-role="collapsible"><h3>What is a flexible furlough?</h3>As of 1 July 2020,flexible furlough will enable employers to return their employees to work part-time whilst remaining on the furlough scheme. Employers can decide on shift patterns. However, they will be responsible for paying wages for the work done.</div>
                            <div data-role="collapsible"><h3>How will the available furlough grant change in the nearest future?</h3>In June and July 2020, the furlough grant will include coverage of 80% of wages up to a £2,500 cap, but employers will pay for any hours of work. In August 2020, the furlough grant will remain an 80% coverage up to a £2,500 cap, but employers will pay pension contributions, ER and NICs. In September 2020, the furlough grant will include a 70% coverage with a £2,187 cap and the employer will pay ER, NICs, pension and 10% towards 80% of the wages with a cap of £2,500. In October 2020, the grant will cover 60% of wages capped at £1,875, and the employer will pay pension contributions, ER and NICs and 20% towards 80% of the wages with a cap of £2,500.</div>
                            <div data-role="collapsible"><h3>Can furloughed employees undertake training?</h3>	Employees placed onfurlough leave under the Coronavirus Job Retention Scheme can undertake training or courses that are 'directly relevant' to their job.</div>
                            <div data-role="collapsible"><h3>Can foreign nationals be furloughed?</h3>Yes, foreign nationals on all types of visa allowing a right to work can be furloughed, provided that they satisfy the necessary requirements.</div>
                            <div data-role="collapsible"><h3>Can employees be furloughed from various jobs?</h3>Yes, employees with more than one employment can be furloughed by each of the employers. Note that the cap of the Coronavirus Job Retention Scheme applies separately to each job.</div>
                            <div data-role="collapsible"><h3>Can zero-hours workers be furloughed?</h3>	Zero-hours workers can be furloughed if they are on PAYE. Their median income will have to be calculated.	</div>
                            <div data-role="collapsible"><h3>What happens if the employee refuses to be placed on the Coronavirus Job Retention Scheme?</h3>If the employee refuses to be furloughed and you still decide to do it, you might face an unfair dismissal claim.</div>
                            <div data-role="collapsible"><h3>Does the employer have to top up the wages of furloughed employees?</h3>The guidance states that it is for the employers to decide whether to top-up the wages (extra 20% or anything bringing the wages above £2,500). However, under their contract employees are usually entitled to their full wages. It is advised to discuss the situation with employees.</div>
                            <div data-role="collapsible"><h3>Does being furloughed affect continuity of employment?</h3>As the employment contract continues to apply during furlough leave, it should not affect continuity of employment.</div>
                            <div data-role="collapsible"><h3>Can I lay off my employee if there is an existing contractual right to do so?</h3>You may rely on the contractual right. However, such provision is an implied term of trust and confidence, meaning that you should consult with your employee and give reasonable notice to avoid any breach of contract.</div>
                            <div data-role="collapsible"><h3>Can I reduce the hours and pay of my employees?</h3>Yes, but only with the employees' agreement. Alternatively, if there is a contractual right to impose short-working, it may be used instead.</div>
                            <div data-role="collapsible"><h3>Are there any alternative options to redundancy while on furlough?</h3>Yes, you may wish to discuss options such as unpaid statutory parental leave or granting unpaid sabbaticals which will enable employees to remain employed without pay until the situation improves.</div>
                            <div data-role="collapsible"><h3>How can employers calculate statutory redundancy payment for employees on furlough?</h3>The statutory redundancy payment is calculated based on the years of service, age and one week's pay (which is capped at £538). </div>
                            <div data-role="collapsible"><h3>Can HMRC impose penalties on businesses making claims under the Scheme?</h3>Yes. According to the upcoming Finance Bill 2020, the taxman would be able to penalise those businesses that deliberately claim for employees they haven't furloughed or for money they aren't entitled to receive. Directors should expect to be liable for tax charges if they have deliberately flouted the rules.</div>
                            <div data-role="collapsible"><h3>Will HMRC be given the power to recover payments?</h3>The government has started a short consultation on enforcement measures and states that HMRC would be given powers to recover payments ""where a Coronavirus Job Retention Scheme payment has not been used to pay employees, make pensions contributions, pay PAYE or National Insurance contributions."" HMRC could also take criminal action in cases of fraud.</div>
                            <div data-role="collapsible"><h3>Why should I encourage my employees to take annual leave during furlough?</h3>For a number of reasons, such as (1) to encourage employees to look out for their own wellbeing and health, (2) to reduce the amount of leave to be taken once work resumes and (3) to take advantage of the financial assistance available via the CJRS in funding annual leave payments.</div>
                            <div data-role="collapsible"><h3>What is the notice period for annual leave during furlough?</h3>	The notice periods remain the same with employers being required to give double the length of the holiday that the employer wishes the employee to take.</div>
                        </div>
                        <div data-role="collapsible">
                            <h3>Work From Home FAQ</h3>
                            <div data-role="collapsible"><h3>Are employers obliged to equip their employees working from home?</h3>Yes, they are. Employers should take every possible step to facilitate employees' working from home, including the supply of suitable IT and equipment to enable remote working.</div>
                            <div data-role="collapsible"><h3>Can my employee request to work from home?</h3>Employees will have a statutory right to request to work from home if they have at least 6 months of service. You will have to deal with such requests in a reasonable manner by assessing advantages and disadvantages, holding a meeting to discuss the request and offering an appeal right if the request is refused.</div>
                            <div data-role="collapsible"><h3>Is it a requirement for the request to work from home to be in writing?</h3>Yes, it must be in writing and must include (1) application date, (2) details of change, (3) preferred enforcement date, (4) impact on employer and (5) statement confirming statutory request and any dates of previous requests made.</div>
                            <div data-role="collapsible"><h3>In what circumstances can I reject a request to work from home?</h3>Possible reasons may include burden of additional costs, inability to recognise work,inability to recruit extra staff, detrimental impact on quality and performance or meeting customer needs. Other reasons may include insufficient work or planned structural change to your business.</div>
                            <div data-role="collapsible"><h3>My employee has worked less than 6 months. Can they request to work from home?</h3>If they have not worked long enough to make a statutory request, they can still make a non-statutory request for a flexible working arrangement, although the process will not be the same in considering the application.</div>
                            <div data-role="collapsible"><h3>How can employers ensure data security while employees are working from home?</h3>	Employers can adapt to the new ways of working and minimise risks of data breaches by taking the following steps: 1). Ask employees to use a separate work space for sensitive calls; 2). Use privacy screens; 3). Ask employees not to share technology such as computers with others; 4). Shred confidential information; 5). Provide security training for employees.</div>
                            <div data-role="collapsible">
                                <h3>Are an employer’s policies and its monitoring of its employees legal?</h3>
                                The following should be considered in determining the legality of monitoring:
                                <ol>
                                    <li> 1) Inform employees of the intention to monitor;</li>
                                    <li> 2) Be mindful of the risks around discrimination;</li>
                                    <li> 3) Ensure sufficient safeguards are put in place to prevent abuse;</li>
                                    <li>4) Act in a proportionate and justified manner e.g. in respect of the method used.</li>
                                </ol>
                            </div>
                        </div>
                        <div data-role="collapsible">
                            <h3>Safety FAQ</h3>
                            <div data-role="collapsible"><h3>What are my duties as an employer at the workplace?</h3>There is a statutory duty to ensure health, safety and welfare of every employee and members of the public 'so far as is reasonably practical'. The employer has to assess risks, and set up and implement a safe system of work.</div>
                            <div data-role="collapsible"><h3>What are the rules on having visitors at the workplace?</h3>Government guidelines suggest minimising the number of unnecessary visits. When visits/contacts are necessary and cannot be undertaken by remote connection, guidance on social distancing and hygiene should be explained prior to arrival and on arrival (for example, by signage). The number of visitors must be limited and a visiting record must be kept. Contact with visitors must be minimal. People acting as hosts must receive the necessary COVID-19 training.</div>
                            <div data-role="collapsible"><h3>Can I ask my employees to use public transport to travel to work?</h3>It is best to avoid unnecessary work-related travel. When it is unavoidable, minimise the number of people travelling by one vehicle, ensure that the vehicle has good ventilation, and that the employees do not sit face-to-face. Should employees need to stay away from their home (for work reasons), ensure that any overnight accommodation meets social distancing guidelines. Employees delivering goods should adhere to the hygiene and distancing guidelines.</div>
                            <div data-role="collapsible"><h3>Can my employees travel for work-related reasons?</h3>It is best to avoid unnecessary work-related travel. When it is unavoidable, minimise the number of people travelling by one vehicle, ensure that the vehicle has good ventilation, and that the employees do not sit face-to-face. Should employees need to stay away from their home (for work reasons), ensure that any overnight accommodation meets social distancing guidelines. Employees delivering goods should adhere to the hygiene and distancing guidelines.</div>
                            <div data-role="collapsible"><h3>Is it safe for my employees to return to work?</h3>As of 18 May 2020, employees should be actively encouraged to return to work if they cannot work from home. However, they should avoid using public transport if possible.</div>
                            <div data-role="collapsible"><h3>Do employees have any health and safety responsibilities?</h3>Yes, employees have health and safety responsibilities at work. These include taking reasonable care for their health and safety and that of anyone who may be affected by their acts or omissions at work; and to co-operate with their employer so far as is necessary to enable compliance with any statutory duty or requirement relating to health and safety.</div>
                            <div data-role="collapsible">
                                <h3>Is it mandatory for the employees to use PPE (Personal Protective Equipment) at the workplace?</h3>
                                While the UK Government's Guidelines advise that employers already utilising PPE at their workplace should continue doing so, it is also suggested that additional PPE (beyond that already employed) is not beneficial. This is because the virus-related risks are to be managed via social distancing and hygiene, not PPE. The guidelines clearly stipulate that
                                <ol>
                                    <li> workplaces should not encourage the precautionary use of extra PPE to protect against COVID-19 outside clinical settings or when responding to a suspected or confirmed case of COVID-19;</li>
                                    <li> unless a workplace is in a situation where the risk of COVID-19 transmission is very high, a risk assessment should reflect the fact that the role of PPE in providing additional protection is extremely limited;</li>
                                    <li> if a risk assessment shows that PPE is required it must be provided free of charge to workers who need it. Any PPE provided must fit properly.</li>
                                </ol>
                            </div>
                            <div data-role="collapsible">
                                <h3>Do employees need to wear face masks at work?</h3>Wearing a face mask in the workplace is optional and is not required by law, as of 06.06.2020. Having said that, should employees decide to wear face coverings, employers must ensure they do so safely. Employers should tell their employees the following.
                                <ol>
                                    <li>wash hands thoroughly with the use of soap and water for 20 seconds (and above) or, alternatively, use hand sanitiser before putting a face covering on and taking it off. </li>
                                    <li>avoid touching the face or face mask while it is on.</li>
                                    <li>change the face covering if it becomes damp or after touching it.</li>
                                    <li>continue washing hands on a regular basis.</li>
                                    <li>change and wash a face covering on a daily basis or dispose of it should it not be washable.</li>
                                </ol>
                            </div>
                            <div data-role="collapsible"><h3>Are there any categories of employees which I should give special consideration to?</h3>Yes. You should give special consideration to those falling into the extremely vulnerable and high-risk categories such as pregnant employees, employees over 70, employees with childcare responsibilities and those with underlying health conditions or to anyone who is living with an individual in the extremely vulnerable category.</div>
                            <div data-role="collapsible"><h3>What should I do if my employee refuses to return to work?</h3>If all reasonable steps have been taken in respect of health and safety but an employee refuses to return to work, there are other options which you could consider such as encouraging taking holiday entitlement or unpaid leave.</div>
                            <div data-role="collapsible"><h3>What measures should I take upon return to work?</h3>Depending on your organisation, you should evaluate and decide on what activities may be continued and/or adapted, depending on specificity and available resources, and implement necessary measures for resuming and/or maintaining the activity, with the observance of relevant prevention measures, including work from home or telework.</div>
                            <div data-role="collapsible"><h3>What exactly do I need to tell my employees when returning to work?</h3>You should tell your employees when exactly you are planning to return to work and update them on health and safety measures that you are implementing. You should also conduct a consultation about different adjustments to work, for example new shift patterns.</div>
                            <div data-role="collapsible"><h3>Shall I continue employing homeworking policy after lockdown?</h3>The UK Government has provided a cogent message for the employers to continue emplying homeworking (if possible). Note, however, the employers would have to check whether their existing homeworking policy meets the new circumstances and amend it in accordance with the UK Government's guidance.</div>
                            <div data-role="collapsible"><h3>How can I monitor my employee's heath after return to work?</h3>You should ensure that constant communication with the doctor/medical service provider responsible for occupational medicine, in order to monitor the employees’ health. You may also initiate and conduct consultations with employees’ representative(s) holding specific health & safety responsibilities and/or members of the Health & Safety Committee at the company level.</div>
                            <div data-role="collapsible"><h3>What are the consequences of not ensuring safety at the workplace?</h3>	Breach of a duty to ensure safety 'so far as reasonably practical' is a criminal offence. The employer will have to pay a fine if found to breach the duty</div>
                            <div data-role="collapsible"><h3>What is contact tracing?</h3>	Contact tracing system is triggered when an individual who has been tested positive with Covid-19 or has any symptoms.  Individuals are then contacted and asked about who else they may have been in close contact with.</div>
                        </div>
                        <div data-role="collapsible">
                            <h3>Data Protection FAQ</h3>
                            <div data-role="collapsible"><h3>How can I test my employees lawfully under data protection rules?</h3>If you want to test your employees lawfully under data protection rules, the legal basis can be legitimate interest. However, each organisation should make a separate assessment.</div>
                            <div data-role="collapsible"><h3>How can I ensure compliance with data protection?</h3>In order to show that you comply with data protection rules when you test your employees for symptoms of Covid-19, you can conduct a data protection impact assessment. It should set out the activity, data protection risks, necessity and proportionality of the activity, and mitigating actions that can be placed against the risks.</div>
                            <div data-role="collapsible"><h3>What steps should I take to ensure that I do not collect too much data when testing my employees for symptoms of Covid-19?</h3>In order to ensure that too much data is not collected when you test your employees for symptoms of Covid-19, you need to ensure that any collection is adequate, relevant and limited to what is necessary. For example, you should only collect the data about tests and not about underlying health conditions.</div>
                            <div data-role="collapsible"><h3>Am I allowed to keep a list of the employees who have symptoms?</h3>If you collect data about your employees' symptoms or positive results of Covid-19 tests, you can keep the list of the employees provided that it is secure and duty of confidentiality is observed</div>
                            <div data-role="collapsible"><h3>Can I share with other employees the information that someone has tested positive?</h3>If one of your employees has tested positive, you should inform the rest of the employees about potential risks. However, it is advised not to name the affected employees.</div>
                        </div>
                        <div data-role="collapsible">
                            <h3>Sick Pay FAQ</h3>
                            <div data-role="collapsible"><h3>My employees are unwell with a diagnosed case of Covid-19. Do I have to pay them?</h3>If your employees are unwell with or have symptoms of Covid-19, they are entitled to receive usual sick leave.</div>
                            <div data-role="collapsible"><h3>My employees have Covid-19 symptoms but have not been diagnosed yet. Do I have to pay them?</h3>If your employees are unwell with or have symptoms of Covid-19, they are entitled to receive usual sick leave.</div>
                            <div data-role="collapsible"><h3>Can I stop Statutory Sick Pay (SSP) for my employees?</h3>For Statutory Sick Pay (SSP) purposes, employers and employees can agree to end a period of incapacity for work in order to stop SSP and commence furlough leave instead.</div>
                            <div data-role="collapsible"><h3>Can the period of incapacity for SSP purposes be ended if furlough is commenced?</h3>If your employees are unwell with or have symptoms of Covid-19, they are entitled to receive usual sick leave.</div>
                            <div data-role="collapsible"><h3>Can an employee claim SSP if they have been asked to self-isolate?</h3>	Those employees who meet the earnings criteria will be eligible for Statutory Sick Pay (SSP) of £95.85 (£94.25 before 6 April 2020) from the first day of the period in which they are required to self-isolate.</div>
                            <div data-role="collapsible"><h3>What if my employee has contractual sick pay benefits?</h3>Employers that offer more generous contractual sick pay benefits, however, should consider whether they will provide sick pay at the usual contractual rate to those self-isolating.</div>
                            <div data-role="collapsible"><h3>What is Coronavirus Statutory Sick Pay Rebate Scheme?</h3>The scheme enables employers that were registered for Pay As You Earn (PAYE) on or before 28 February 2020, and who had fewer than 250 PAYE employees at that date, to reclaim up to two weeks SSP provided to employees.</div>
                        </div>
                        <div data-role="collapsible">
                            <h3>Terms of Employment</h3>
                            <div data-role="collapsible"><h3>Can employees take me to Court if I make them redundant during Covid-19 ourbreak?</h3>Only employees with two years' continious service are protected from unfair dismissal. A dismissal is unfair unless a) it was for a potentially fair reason listed in the legislation; and b) it was fair in the circumstances. Redundancy is potentially fair reason for dismissal. Redundancy occurs if there is closure of the business, for example. However, it is still unclear whether it will be considered fair when Coronavirus Job Retention Scheme is in place</div>
                            <div data-role="collapsible"><h3>What are the alternative options to redundancy?</h3>Changing terms and conditions, changing pension scheme, lay-off and short time working, reducing use of contract workers, discreitonary benefits, re-deployment, secondment, freezing recruitment or flexible working.</div>
                            <div data-role="collapsible"><h3>What are the main options for changing terms and conditions?</h3>Making changes which are allowed under the contract, varation by mutual agreement, unilateral imposition of new terms or terminating employees' contracts and re-engaging them on new terms.</div>
                            <div data-role="collapsible"><h3>How can I vary the contractual terms and conditions?</h3>If the contract includes a 'flexibility clause', this would provide an expressed right to implement any changes. Depending on the clause, it may be a specific clause which covers the proposed change or it may give general power to vary the contract. However, flexibility clause may be restricted due to being ambiguous.</div>
                            <div data-role="collapsible"><h3>How can I vary terms and conditions if there are no rights to impose unilateral changes?</h3>The best route is to obtain employees’ consent. Faced with the option of agreeing detrimental changes or potentially being made redundant, many employees are likely to be amenable albeit reluctantly.</div>
                            <div data-role="collapsible"><h3>What should I do if my employee refuses to agree to the required change of terms and conditions?</h3>You may announce that the change will be implemented from a set date. Although this may be a risky strategy as the employees may continue to work but under protest and reserve the right to sue for breach of contract, or resign and claim constructive dismissal.</div>
                            <div data-role="collapsible"><h3>Is there a legal duty for collective consultation purposes?</h3>Yes, if 20 or more employees will be dismissed within a 90-day period, you must consult with the recognised trade union if there is one, or elected employee representatives otherwise.</div>
                            <div data-role="collapsible"><h3>How long shoud consultation period last?</h3>	The consultation period must last at least 60 days to allow consulting with employee representatives.</div>
                            <div data-role="collapsible"><h3>Is there any statutory protection of lay-off or short-time working available to my employee?</h3>Yes, but it is complex and little-used in practice. It provides a right for employees who have been laid off or kept on short time for four or more consecutive weeks or six weeks in any 13-week period to claim a redundancy payment in certain circumstances. The scheme only applies where the contract of employment allows for lay-off/short-time working without pay.</div>
                            <div data-role="collapsible"><h3>Can my employee claim any compensation if they are laid-off without pay?</h3>There is a statutory wage protection scheme, where the employee can claim guarantee payment for the days which they would normally be required to work. However, there is a cap of £29.00 per day and entitlement is limited only to five days in any three month period.</div>
                            <div data-role="collapsible"><h3>What should I do if my employee does not consent to flexible working?</h3>	You can seek to rely on any flexibility clauses in the contract or consider terminating and re-engaging on new terms as a final resort.</div>
                            <div data-role="collapsible"><h3>What if my employee holds Tier 2 or Tier 5 Visa?</h3>Any of the employees who hold a Tier 2 or 5 visa will have reporting requirements that are likely to be triggered in case of redundancy or decising to lay-off, which may then have knock-on implications for whether they can keep their visa or not.</div>
                            <div data-role="collapsible"><h3>Can employers require employees to take or not to take holiday?</h3>	It will depend on whether the holiday is statutory or contractual. Statutory holiday is covered by the Working Time Regulations 1998 and allows the employer to request its employees to take holiday during a specific period as long as employer gives twice as much advance notice as the amount of holiday. Conditions of contractual holiday will depend on the terms of the contract or internal holiday policy.</div>
                            <div data-role="collapsible"><h3>Can employees carry-over their unused leave?</h3>Yes, the employees are allowed to carry forward the four weeks of leave guaranteed under the European Working Time Directive, where it was not reasonably practicable to take holiday in the current leave year, such as a result of the effect of the coronavirus. The unused leave must be taken within the next two leave years.</div>
                            <div data-role="collapsible"><h3>Can employers delay the employee’s start date or withdraw a job offer?</h3>Employers are committed to the employment terms once a job offer was accepted by the employee. However, the employer can negotiate a new start date with its employee. If the individual is no longer required, the employer can dismiss the employee with less than two years’ service provided the dismissal is not in connection with discrimination or whistleblowing.</div>
                        </div>
                        <div data-role="collapsible">
                            <h3>Rights to Work Check</h3>
                            <div data-role="collapsible"><h3>Is it possible to carry out legal right to works checks remotely?</h3>Where prospective employees will be working from home, it is now possible to conduct legal right to works checks online via the Home Office’s Employer Checking Service for certain nationals. In addition, the documents checks should also be carried out via live videoconferencing app.</div>
                        </div>
                    </div>
                    </div>
                    <div data-role="collapsible">
                        <h3>Accounting and Tax FAQ</h3>
                        <div data-role="collapsible-set">
                            <div data-role="collapsible">
                                <h3>Test 2.1</h3>
                                <p>Testing</p>
                            </div>
                            <div data-role="collapsible">
                                <h3>Test 2.2</h3>
                                <p>Testing</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
  
    </section>

@section scripts {
    <link rel="stylesheet" href="https://code.jquery.com/mobile/1.3.0-rc.1/jquery.mobile-1.3.0-rc.1.min.css" />
    <script src="https://code.jquery.com/jquery-1.9.1.min.js"></script>
    <script src="https://code.jquery.com/mobile/1.3.0-rc.1/jquery.mobile-1.3.0-rc.1.min.js"></script>
}
