@{
    ViewBag.Title = "FAQ";
}

<section class="hero-section" id="hero">
    <div class="container" style="min-height:355px;">
        <div class="row">
            <div class="col-12 hero-text-image">
                <div class="row">
                    <div class="col-lg-5 iphone-wrap">
                        <a href="/Home/Index">
                            <img src="~/assets/images/Logo2x.png" alt="" class="hero-section-img" />
                        </a>
                    </div>
                    <div class="col-lg-7 text-center text-lg-left">
                        <h1 data-aos="fade-right">Question &amp; Answer Knowledge Base </h1>
                        <p class="mb-4" data-aos="fade-right" data-aos-delay="100">
                            Use you browsers search facility to find answers to your questions.
                        </p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section><!-- End Hero -->

<section class="section-chat">
    <div class="container" style="padding-top:10px; height:100%;">

        <ul class="accordion">
           
            <li>
                <a class="toggle">Legal FAQ</a>
                <ul class="inner">
                    <li>
                        <a href="#" class="toggle">Furlough FAQ</a>
                        <ul class="inner">
                            <li><a href="#" class="toggle">Can transferred employees be furloughed by a new employer?</a><div class="inner"><p> If the employee is employed by one employer on 19 March but is transferred to another employer under the TUPE scheme later, they can be furloughed by the new employer. </p></div></li>
                            <li><a href="#" class="toggle">To be eligible for the Coronavirus Job Retention Scheme, do I need to prove that I cannot otherwise pay employees ?"</a><div class="inner"><p>It is not a requirement that the employer cannot otherwise pay its employees or that they need to make employees redundant. An employer can furlough workers if ""the instruction is given by reason of circumstances arising as a result of coronavirus or coronavirus disease"".</li>
                            <li><a href="#" class="toggle">What information do I need to submit in order to apply to the Coronavirus Job Retention Scheme?</a><div class="inner"><p>The Government has published a step-by-step guide. https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/884664/Coronavirus_Job_Retention_Scheme_step_by_step_guide_for_employers.pdf. The information required is: 1. The number of employees to be furloughed; 2. The dates from and to which employees have been furloughed; 3. Details of employees - the name and National Insurance Number of each furloughed employee; 4. Your employer PAYE scheme reference number; 5. Your Corporation Tax Unique Taxpayer Reference, Self-Assessment Unique Taxpayer Reference or Company Registration Number as appropriate for your entity; 6. Your UK bank account details; 7. Your organisation's registered name; 8. Your organisation's address</li>
                            <li><a href="#" class="toggle">Can my employee claim commission or overtime when furloughed?</a><div class="inner"><p>An employee cannot be on unpaid leave and furloughed at the same time. If an employee went on unpaid leave before 1 March 2020, they cannot be furloughed until the agreed period of unpaid leave expires. This is unless an agreement was reached to vary the end date of the unpaid leave after the leave began, and before 20 March 2020.</li>
                            <li><a href="#" class="toggle">Do I have to re-employ workers who stopped working before Coronavirus Job Retention Scheme came into force?</a><div class="inner"><p>	The employer is not obliged to re-employ employees in order to place them under the furlough scheme.</li>
                            <li><a href="#" class="toggle">What is a flexible furlough?</a><div class="inner"><p>As of 1 July 2020,flexible furlough will enable employers to return their employees to work part-time whilst remaining on the furlough scheme. Employers can decide on shift patterns. However, they will be responsible for paying wages for the work done.</li>
                            <li><a href="#" class="toggle">How will the available furlough grant change in the nearest future?</a><div class="inner"><p>In June and July 2020, the furlough grant will include coverage of 80% of wages up to a £2,500 cap, but employers will pay for any hours of work. In August 2020, the furlough grant will remain an 80% coverage up to a £2,500 cap, but employers will pay pension contributions, ER and NICs. In September 2020, the furlough grant will include a 70% coverage with a £2,187 cap and the employer will pay ER, NICs, pension and 10% towards 80% of the wages with a cap of £2,500. In October 2020, the grant will cover 60% of wages capped at £1,875, and the employer will pay pension contributions, ER and NICs and 20% towards 80% of the wages with a cap of £2,500.</li>
                            <li><a href="#" class="toggle">Can furloughed employees undertake training?</a><div class="inner"><p>	Employees placed onfurlough leave under the Coronavirus Job Retention Scheme can undertake training or courses that are 'directly relevant' to their job.</li>
                            <li><a href="#" class="toggle">Can foreign nationals be furloughed?</a><div class="inner"><p>Yes, foreign nationals on all types of visa allowing a right to work can be furloughed, provided that they satisfy the necessary requirements.</li>
                            <li><a href="#" class="toggle">Can employees be furloughed from various jobs?</a><div class="inner"><p>Yes, employees with more than one employment can be furloughed by each of the employers. Note that the cap of the Coronavirus Job Retention Scheme applies separately to each job.</li>
                            <li><a href="#" class="toggle">Can zero-hours workers be furloughed?</a><div class="inner"><p>	Zero-hours workers can be furloughed if they are on PAYE. Their median income will have to be calculated.	</li>
                            <li><a href="#" class="toggle">What happens if the employee refuses to be placed on the Coronavirus Job Retention Scheme?</a><div class="inner"><p>If the employee refuses to be furloughed and you still decide to do it, you might face an unfair dismissal claim.</li>
                            <li><a href="#" class="toggle">Does the employer have to top up the wages of furloughed employees?</a><div class="inner"><p>The guidance states that it is for the employers to decide whether to top-up the wages (extra 20% or anything bringing the wages above £2,500). However, under their contract employees are usually entitled to their full wages. It is advised to discuss the situation with employees.</li>
                            <li><a href="#" class="toggle">Does being furloughed affect continuity of employment?</a><div class="inner"><p>As the employment contract continues to apply during furlough leave, it should not affect continuity of employment.</li>
                            <li><a href="#" class="toggle">Can I lay off my employee if there is an existing contractual right to do so?</a><div class="inner"><p>You may rely on the contractual right. However, such provision is an implied term of trust and confidence, meaning that you should consult with your employee and give reasonable notice to avoid any breach of contract.</li>
                            <li><a href="#" class="toggle">Can I reduce the hours and pay of my employees?</a><div class="inner"><p>Yes, but only with the employees' agreement. Alternatively, if there is a contractual right to impose short-working, it may be used instead.</li>
                            <li><a href="#" class="toggle">Are there any alternative options to redundancy while on furlough?</a><div class="inner"><p>Yes, you may wish to discuss options such as unpaid statutory parental leave or granting unpaid sabbaticals which will enable employees to remain employed without pay until the situation improves.</li>
                            <li><a href="#" class="toggle">How can employers calculate statutory redundancy payment for employees on furlough?</a><div class="inner"><p>The statutory redundancy payment is calculated based on the years of service, age and one week's pay (which is capped at £538). </li>
                            <li><a href="#" class="toggle">Can HMRC impose penalties on businesses making claims under the Scheme?</a><div class="inner"><p>Yes. According to the upcoming Finance Bill 2020, the taxman would be able to penalise those businesses that deliberately claim for employees they haven't furloughed or for money they aren't entitled to receive. Directors should expect to be liable for tax charges if they have deliberately flouted the rules.</li>
                            <li><a href="#" class="toggle">Will HMRC be given the power to recover payments?</a><div class="inner"><p>The government has started a short consultation on enforcement measures and states that HMRC would be given powers to recover payments ""where a Coronavirus Job Retention Scheme payment has not been used to pay employees, make pensions contributions, pay PAYE or National Insurance contributions."" HMRC could also take criminal action in cases of fraud.</li>
                            <li><a href="#" class="toggle">Why should I encourage my employees to take annual leave during furlough?</a><div class="inner"><p>For a number of reasons, such as (1) to encourage employees to look out for their own wellbeing and health, (2) to reduce the amount of leave to be taken once work resumes and (3) to take advantage of the financial assistance available via the CJRS in funding annual leave payments.</li>
                            <li><a href="#" class="toggle">What is the notice period for annual leave during furlough?</a><div class="inner"><p>The notice periods remain the same with employers being required to give double the length of the holiday that the employer wishes the employee to take.</li>



                        </ul>
                    </li>

                    <li>Option 2</li>

                    <li>Option 3</li>
                </ul>
            </li>

            @*<li>
                <a class="toggle" href="javascript:void(0);">Item 4</a>
                <ul class="inner">
                    <li>
                        <a href="#" class="toggle">Technically any number of nested elements</a>
                        <ul class="inner">
                            <li>
                                <a href="#" class="toggle">Another nested element</a>
                                <div class="inner">
                                    <p>
                                        As long as the inner element has inner as one of its classes then it will be toggled.
                                    </p>
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas tempus placerat fringilla. Duis a elit et dolor laoreet volutpat. Aliquam ultrices mauris id mattis imperdiet. Aenean cursus ultrices justo et varius. Suspendisse aliquam orci id dui dapibus
                                        blandit. In hac habitasse platea dictumst. Sed risus velit, pellentesque eu enim ac, ultricies pretium felis.
                                    </p>
                                </div>
                            </li>
                        </ul>
                    </li>

                    <li>Option 2</li>

                    <li>Option 3</li>
                </ul>
            </li>*@


        </ul>
    </div>

</section>

@section scripts {

    <link href="~/Content/ChirpyToggle.less" rel="stylesheet/less" type="text/css" />
    <script src="//cdnjs.cloudflare.com/ajax/libs/less.js/2.5.1/less.min.js"></script>


    <script>

        $('.toggle').click(function (e) {
            e.preventDefault();

            var $this = $(this);

            if ($this.next().hasClass('show')) {
                $this.next().removeClass('show');
                $this.next().slideUp(350);
            } else {
                $this.parent().parent().find('li .inner').removeClass('show');
                $this.parent().parent().find('li .inner').slideUp(350);
                $this.next().toggleClass('show');
                $this.next().slideToggle(350);
            }
        });


    </script>
}
