@{
    ViewBag.Title = "Home Page";
}

    <section class="hero-section" id="hero">
        @*<div class="wave">
            <svg width="100%" height="355px" viewBox="0 0 1920 355" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <g id="Apple-TV" transform="translate(0.000000, -402.000000)" fill="#FFFFFF">
                        <path d="M0,439.134243 C175.04074,464.89273 327.944386,477.771974 458.710937,477.771974 C654.860765,477.771974 870.645295,442.632362 1205.9828,410.192501 C1429.54114,388.565926 1667.54687,411.092417 1920,477.771974 L1920,757 L1017.15166,757 L0,757 L0,439.134243 Z" id="Path"></path>
                    </g>
                </g>
            </svg>
        </div>*@
        <div class="container">
            <div class="row">
                <div class="col-12 hero-text-image">
                    <div class="row">
                        <div class="col-lg-5 iphone-wrap">
                            <img src="~/assets/images/Logo2x.png" alt="" class="hero-section-img" />
                        </div>
                        <div class="col-lg-7 text-center text-lg-left">
                            <h1 data-aos="fade-right">Corona Virus Support</h1>
                            <p class="mb-4" data-aos="fade-right" data-aos-delay="100">
                                Welcome to our support portal. Here you can find information ralating to government support in a range of fields such as legal, accounting &amp; HR during the Covid-19 outbreak.
                            </p>
                            <p data-aos="fade-right" data-aos-delay="200" data-aos-offset="-500"><a href="https://sterling-law.co.uk/" class="btn btn-outline-white">Learn more &raquo;</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- End Hero -->

<main id="main">
	

	<!-- ======= Chat Section ======= -->
	<section class="section-chat">
		<div class="container">
			<div class="row">
				<div class="col-lg-12" style="text-align:center">
					<h2 class="section-heading">Ask us a question...</h2>
				     <iframe src='https://webchat.botframework.com/embed/practisebotqp?s=rdQ5XqB0bOE.ljdflZ5uqM9ltNrGQRDuuFz8e92eQiiE97BU33SyNwQ'  style='min-width: 400px; width: 100%; min-height: 500px;'></iframe> 
				</div>
			</div>
		</div>
	</section>

	<!-- ======= Links Section ======= -->
	<section class="section-links">
		<div class="container container-flex">
			<div class="row">
				<div class="col-lg-3 col-md-3 d-flex align-items-stretch">
					<div class="card">
						<a href="">
							<img src="~/assets/images/link-1.jpg" class="card-img-top" alt="...">
							<div class="card-icon">
								<i class="bx bx-book-reader"></i>
							</div>
							<div class="card-body">
								<p class="card-text">
									Can I be made redundant when I'm furloughed?
								</p>
							</div>
						</a>
					</div>
				</div>

				<div class="col-lg-3 col-md-3 d-flex align-items-stretch">
					<div class="card">
						<a href="">
							<img src="~/assets/images/link-2.jpg" class="card-img-top" alt="...">
							<div class="card-icon">
								<i class="bx bx-book-reader"></i>
							</div>
							<div class="card-body">
								<p class="card-text">
									Can I be made redundant when I'm furloughed?
								</p>
							</div>
						</a>
					</div>
				</div>

				<div class="col-lg-3 col-md-3 d-flex align-items-stretch">
					<div class="card">
						<a href="">
							<img src="~/assets/images/link-3.jpg" class="card-img-top" alt="...">
							<div class="card-icon">
								<i class="bx bx-book-reader"></i>
							</div>
							<div class="card-body">
								<p class="card-text">
									Can I be made redundant when I'm furloughed?
								</p>
							</div>
						</a>
					</div>
				</div>

				<div class="col-lg-3 col-md-3 d-flex align-items-stretch">
					<div class="card">
						<a href="">
							<img src="~/assets/images/link-1.jpg" class="card-img-top" alt="...">
							<div class="card-icon">
								<i class="bx bx-book-reader"></i>
							</div>
							<div class="card-body">
								<p class="card-text">
									Can I be made redundant when I'm furloughed?
								</p>
							</div>
						</a>
					</div>
				</div>
			</div>
		</div>
	</section>
</main><!-- End #main -->




	
