@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" style="padding-left:5px;">
    <div style="display:flex; width:100%">        
        <div style="width:460px;">
            <img src="~/Content/images/bluelozengeSmall.png" />
        </div>
        <div style="flex:1">
            <h2>Corona Virus Support Portal</h2>
            <p class="lead">Welcome to our support portal. Here you can find information ralating to government support in a range of fields such as legal, accounting &amp; HR during the Covid-19 outbreak.</p>
            <p><a href="https://sterling-law.co.uk/" class="btn btn-primary btn-lg" style="color: #008FD5;">Learn more &raquo;</a></p>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12" style="text-align:center">
        <h2>Which of the following best describes you ?</h2>
    </div>
</div>

<div class="row">
    <div class="col-md-2">
        <p><a class="btn btn-default" href="#">Self Employed &raquo;</a></p>
        <p>Specialist or trader with a limited company or other.</p>
    </div>
    <div class="col-md-2">
        <p><a class="btn btn-default" href="#">Employer/LTD/LLP &raquo;</a></p>
        <p> Employers, managers and HR personnel in limited companies and limited liability partnerships.  </p>
    </div>

    <div class="col-md-2">
        <p><a class="btn btn-default" href="#">Charity &raquo;</a></p>
        <p>Organisation registerd as a charity in the United Kingdom.</p>

    </div>
    <div class="col-md-2">
        <p><a class="btn btn-default" href="#">Employee &raquo;</a></p>
        <p>Individual on the payroll of a company.</p>
    </div>
    <div class="col-md-2">
        <p><a class="btn btn-default" href="#">Part Time Employee &raquo;</a></p>
        <p>On an hourly part time employment scheme.</p>
    </div>

    <div class="col-md-2">
        <p><a class="btn btn-default" href="#">Other &raquo;</a></p>
        <p>None of the options presented here. </p>
    </div>
</div>