@model Quick_Point.co.uk.ViewModels.Resource
@{
    ViewBag.Title = "Home Page";
}

<section class="hero-section" id="hero" >
    <div class="container">
        <div class="row">
            <div class="col-12 hero-text-image">
                <div class="row">
                    <div class="col-lg-5 iphone-wrap">
                        <a href="/Home/Index">
                            <img src="~/assets/images/Logo.svg" alt="" class="hero-section-img" />
                        </a>
                    </div>
                    <div class="col-lg-7 text-center text-lg-left" style="padding-top: 1rem;">
                        <h2 data-aos="fade-right">CoronaVirus Business Support Portal</h2>
                        <p class="mb-4" data-aos="fade-right" data-aos-delay="100">
                            Quick, simple, free advice with no hidden fees or waiting for appointments, aimed to help Small and Medium-sized Businesses in any sector, specialisation or stage. We provide support and guidance for core business areas such as finance, legal, accounting, tax and HR.
                        </p>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section><!-- End Hero -->

<main id="main">
    <!-- ======= Chat Section ======= -->
    <section class="section-chat">
        <div class="container" style=" width: 100%;">
            <div class="row" style="margin-bottom:3px;">
                <div style="width: 100%; height:26px; color: #2B588F; background-color: #F5F5F5; font-size: 18px;">Welcome to the Quick-Point Chat Service! Please type a question to get started</div>
            </div>
            <div class="row" style="margin-bottom:3px;">
                <div style="width: 100%; height:26px; color: #2B588F; background-color: #F5F5F5; font-size: 24px;">What would you like to know? </div>
            </div>
            <div class="row">
                <div id="webchat" role="main" style="width:100%; height:100%; max-height:300px; overflow-y:auto; border: 2px solid #2B598F;"></div>
                <script src="https://cdn.botframework.com/botframework-webchat/latest/webchat.js"></script>
                <script>


                    const styleOptions = {
                        rootwidth: 'Auto',
                        backgroundColor: 'AliceBlue',
                        botAvatarImage: 'https://github.com/ink169.png?size=64',
                        bubbleBackground: 'rgba(46, 115, 187, .2)',
                        //botAvatarInitials: 'BF',
                        userAvatarImage: 'https://github.com/FreddieK01.png?size=64',
                        bubbleFromUserBackground: 'rgba(141, 252, 237, .7)',
                        bubbleMaxWidth: 600,
                        hideUploadButton: true,
                        // userAvatarInitials: 'WC'
                    };

                    window.WebChat.renderWebChat(
                        {
                            directLine: window.WebChat.createDirectLine({
                                secret: 'EVhLppJqzCk.zsB5oaTgXsCbe7qH77_ZBhreJZoYsLIW8J93p5BkWvI'
                            }),
                            styleOptions
                        },
                        document.getElementById('webchat')
                    );

                </script>
            </div>
            <div class="row">
                <div style="width:100%;"><img class="float-right" src="~/Content/images/ChirpyTagBlue.PNG" /></div>
            </div>
        </div>
    </section>

    <!-- ======= Live Chat Section ======= -->
    <!-- Start of  Zendesk Widget script -->
    <script id="ze-snippet" src="https://static.zdassets.com/ekr/snippet.js?key=07a6407a-f361-483a-b81b-13b60d3efdaf"></script>

    <!-- ======= Links Section ======= -->
    <section class="section-links">
        <div class="container container-flex">
            <div class="row">
                <div class="col-lg-3 col-md-3 d-flex align-items-stretch">
                    <div class="card">
                        <a href='@String.Format("{0}TaxAccArticle10", Model.BaseUrl)' target="_blank">
                            <img src="~/assets/images/link-1.jpg" class="card-img-top" alt="...">
                            <div class="card-icon">
                                <i class="bx bx-book-reader"></i>
                            </div>
                            <div class="card-body">
                                <p class="card-text">
                                    Starting a business during Coronavirus
                                </p>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="col-lg-3 col-md-3 d-flex align-items-stretch">
                    <div class="card">
                        <a href='@String.Format("{0}TaxAccArticle4", Model.BaseUrl)' target="_blank">
                            <img src="~/assets/images/link-2.jpg" class="card-img-top" alt="...">
                            <div class="card-icon">
                                <i class="bx bx-book-reader"></i>
                            </div>
                            <div class="card-body">
                                <p class="card-text">
                                    What is the Coronavirus Job Retention Scheme?
                                </p>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="col-lg-3 col-md-3 d-flex align-items-stretch">
                    <div class="card">
                        <a href='@String.Format("{0}TaxAccArticle2", Model.BaseUrl)' target="_blank">
                            <img src="~/assets/images/link-3.jpg" class="card-img-top" alt="...">
                            <div class="card-icon">
                                <i class="bx bx-book-reader"></i>
                            </div>
                            <div class="card-body">
                                <p class="card-text">
                                    COVID-19: Support for Businesses
                                </p>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="col-lg-3 col-md-3 d-flex align-items-stretch">
                    <div class="card">
                        <a href='@String.Format("{0}TaxAccArticle8", Model.BaseUrl)' target="_blank">
                            <img src="~/assets/images/link-4.jpg" class="card-img-top" alt="...">
                            <div class="card-icon">
                                <i class="bx bx-book-reader"></i>
                            </div>
                            <div class="card-body">
                                <p class="card-text">
                                    What expenses can I claim through my Limited company
                                </p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main><!-- End #main -->
