@model Quick_Point.co.uk.ViewModels.Resource
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Resources";
}

<section class="hero-section" id="hero">
    <div class="container" style="min-height:355px;">
        <div class="row">
            <div class="col-12 hero-text-image">
                <div class="row">
                    <div class="col-lg-5 iphone-wrap">
                        <a href="/Home/Index">
                            <img src="~/assets/images/Logo.svg" alt="" class="hero-section-img" />
                        </a>
                    </div>
                    <div class="col-lg-7 text-center text-lg-left" style="padding-top: 2rem;">
                        <h2 data-aos="fade-right">Quick-Point Resources </h2>
                        <p class="mb-4" data-aos="fade-right" data-aos-delay="100">
                            Find an answer from our list of carefully selected questions and answers.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>


</section><!-- End Hero -->
<div style="width:100%; height:30px;"></div>

<div class="acontainer" id="taxacc" style="padding-top:0px; margin-top:0px;">
    <div class="article">
        <div class="ahead"><a href="https://quick-point.co.uk/Home/Article?id=ImportantCovidUpdates">Important Covid Updates</a></div>
        <div class="abody">
            Since the beginning of the New Year, and the new lockdown precautions within the UK, there have been several new Covid-19 schemes aimed at small businesses and those who are Self-Employed. With the third lockdown looking to be extended into March, and even potentially into the Summer, we have compiled a short list of new schemes which have been introduced in the interest of helping those in need.
        </div>
        <div class="areadmore"><a href="https://quick-point.co.uk/Home/Article?id=ImportantCovidUpdates">Read More</a></div>
    </div>
    <div class="article">
        <div class="ahead"><a href="https://quick-point.co.uk/Home/Article?id=BrexitAndYourBusiness">Brexit and Your Business</a></div>
        <div class="abody">
            Britain officially left the EU on 31st December 2019 and has since been in the Transition Period from the EU. This Transition Period ended at 23:00 GMT on 31st December 2020 and many rules have changed regarding trade, goods and tax. We have outlined below a few, important changes which may affect you and your business in reference to trade with the EU, post-Brexit and the Transition Period.
        </div>
        <div class="areadmore"><a href="https://quick-point.co.uk/Home/Article?id=BrexitAndYourBusiness">Read More</a></div>
    </div>
    <div class="article" style="padding-top:0px; margin-top:0px;">
        <div class="ahead"><a href="https://quick-point.co.uk/Home/Article?id=TaxAccArticle1">COVID-19 and claiming benefits</a></div>
        <div class="abody">The government has announced that certain benefits will be increased as part of the package of measures to help households affected by COVID-19. This will see the standard rate of Universal Credit and Tax Credits increased by £20 a week (£1,040 per year) for one year from 6 April 2020...</div>
        <div class="areadmore"><a href="https://quick-point.co.uk/Home/Article?id=TaxAccArticle1">Read More</a></div>
    </div>
    <div class="article">
        <div class="ahead"><a href="https://quick-point.co.uk//Home/Article?id=TaxAccArticle2">COVID-19: Support for Businesses</a></div>
        <div class="abody">
            Further to the developing situation surrounding the coronavirus pandemic, this post is to update you on planned financial support for businesses from the government.
            The Chancellor has set out a package of temporary measures to support public services, people and businesses through this period of disruption caused by COVID-19...
        </div>
        <div class="areadmore"><a href="https://quick-point.co.uk//Home/Article?id=TaxAccArticle2">Read More</a></div>
    </div>
    <div class="article">
        <div class="ahead"><a href="https://quick-point.co.uk//Home/Article?id=TaxAccArticle3">Companies House deadlines and Coronavirus</a></div>
        <div class="abody">Companies House is advising businesses to take appropriate measures to file on time. If, immediately before the filing deadline, it becomes apparent that accounts will not be filed on time due to your company being affected by Coronavirus (COVID-19), you may make an application to extend the period allowed for filing. Effective, 25 March 2020, businesses can apply for a 3-month extension for filing their accounts. You must apply for the extension before your filing deadline. The best way to file is using the Companies House fast-tracked online system...</div>
        <div class="areadmore"><a href="https://quick-point.co.uk//Home/Article?id=TaxAccArticle3">Read More</a></div>
    </div>
    <div class="article">
        <div class="ahead"><a href="https://quick-point.co.uk//Home/Article?id=TaxAccArticle4">What is the Coronavirus Job Retention Scheme?</a></div>
        <div class="abody">The CJRS scheme was introduced on 1 March 2020, and its first phase will end on 30 June 2020 with proposed changes to take place as the lockdown eases, with a deadline of 31 July to make claims for the first phase. The second phase is currently due to continue until 31 October...</div>
        <div class="areadmore"><a href="https://quick-point.co.uk//Home/Article?id=TaxAccArticle4">Read More</a></div>
    </div>
    <div class="article">
        <div class="ahead"><a href="https://quick-point.co.uk//Home/Article?id=TaxAccArticle5">Deferral of VAT payments update</a></div>
        <div class="abody">
            It was announced at the end of March that VAT registered businesses have the option to defer any VAT payments due between 20 March 2020 and 30 June 2020.
            HMRC’s guidance for the deferral of VAT payments has been updated and states that you can only defer the following...
        </div>
        <div class="areadmore"><a href="https://quick-point.co.uk//Home/Article?id=TaxAccArticle5">Read More</a></div>
    </div>
    <div class="article">
        <div class="ahead"><a href="https://quick-point.co.uk//Home/Article?id=TaxAccArticle6">Self-employed Income Support Scheme</a></div>
        <div class="abody">
            If you are self-employed and qualify for the Self-employment Income Support Scheme you will receive a cash grant from HMRC based on 80% of profits, up to £2,500 per month. The initial grant will be for the three months, from 1 March through to the end of May 2020, but could be extended for a longer period...
        </div>
        <div class="areadmore"><a href="https://quick-point.co.uk//Home/Article?id=TaxAccArticle6">Read More</a></div>
    </div>
    <div class="article">
        <div class="ahead"><a href="https://quick-point.co.uk//Home/Article?id=TaxAccArticle7">Profit Extraction Strategies & Tax Efficiency</a></div>
        <div class="abody">
            Our simplified guide to tax efficient extraction of money from your company, part of a new series on Tax Made Simple

            One of the most important aspects of our work at Sterling&Beanland Accounting is helping our clients get the most out of their business as possible, financially speaking, when it comes to paying tax. It is almost inevitable that the idea of ‘tax avoidance’ stirs up uncomfortable emotions for most business owners, particularly with high profile imbroglios such as the Paradise Papers making regular appearances in the media...
        </div>
        <div class="areadmore"><a href="https://quick-point.co.uk//Home/Article?id=TaxAccArticle7">Read More</a></div>
    </div>
    <div class="article">
        <div class="ahead"><a href="https://quick-point.co.uk//Home/Article?id=TaxAccArticle8">What expenses can I claim through my limited company?</a></div>
        <div class="abody">
            When it comes to understanding what expenses you can claim through your company as a company director, there is one phrase it is important to remember. Your expenses must be incurred “wholly and exclusively” for business purposes...
        </div>
        <div class="areadmore"><a href="https://quick-point.co.uk//Home/Article?id=TaxAccArticle8">Read More</a></div>
    </div>
    <div class="article">
        <div class="ahead"><a href="https://quick-point.co.uk/Home/Article?id=TaxAccArticle9">Growing your SME business during a global pandemic</a></div>
        <div class="abody">
            It won't be business as usual for a long time. The effects of lockdown and the subsequent post-lockdown safety measures imposed on business are not yet full-fledged. Small businesses will likely be the hardest hit from the current COVID-19 pandemic. However, a volatile economy can create just as many opportunities as it destroys...
        </div>
        <div class="areadmore"><a href="https://quick-point.co.uk/Home/Article?id=TaxAccArticle9">Read More</a></div>
    </div>
    <div class="article">
        <div class="ahead"><a href="https://quick-point.co.uk/Home/Article?id=TaxAccArticle10">Starting a business during Coronavirus</a></div>
        <div class="abody">
            History shows, successful companies can be born in tough times. Previous financial crises have given rise to high-profile companies, for example, WhatsApp, Instagram, Uber and Airbnb, they were all founded during economic downturns...
        </div>
        <div class="areadmore"><a href="https://quick-point.co.uk/Home/Article?id=TaxAccArticle10">Read More</a></div>
    </div>
    <div class="article">
        <div class="ahead"><a href="https://quick-point.co.uk/Home/Article?id=TaxAccArticle11">How to effectively manage your staff remotely</a></div>
        <div class="abody">
            Prior to 2020, close to 50% of the working population was able to work remotely, with these figures increasing every year. However, due to the Covid-19 pandemic, many employers now find themselves having to manage all of their staff remotely, all at the same time, and some are doing so for the first time. Alongside these figures, many employers also understand that there are a number of challenges that come from trying to manage a number of employees remotely, increasing with the higher the number of employees you have. We have compiled some helpful tips here to improve that management should you be struggling in the current crisis and beyond...
        </div>
        <div class="areadmore"><a href="https://quick-point.co.uk/Home/Article?id=TaxAccArticle11">Read More</a></div>
    </div>
    <div class="article">
        <div class="ahead"><a href="https://quick-point.co.uk/Home/Article?id=TaxAccArticle12">The Key to a Successful Zoom Meeting</a></div>
        <div class="abody">
            During the Covid-19 crisis, many businesses have turned to Zoom or their equivalents to conduct their meetings. At the start of lockdown in the UK, Zoom saw their download rate increase to 2.13 million downloads worldwide, compared to 56,000 two months prior, both for business and recreational use. In the business world meetings between staff, clients and employers are now often being conducted via video apps, and below we have listed several tips to create a fully successful Zoom meeting, to optimise your business during the crisis and to adapt to changing business practices in the future...
        </div>
        <div class="areadmore"><a href="https://quick-point.co.uk/Home/Article?id=TaxAccArticle12">Read More</a></div>
    </div>
</div>

    <div class="acontainer" id="legal" style="padding-top:10px;">
        <div class="article">
            <div class="ahead"><a href="https://quick-point.co.uk/Home/Article?id=LegalArticle1">EPC Contracts</a></div>
            <div class="abody">
                We have reviewed the EPC contract and provided a legal opinion on force majeure clauses (re Covid-19) and its implications.

                Engineering, procurement, construction and commissioning (EPC) contracts are the most common form of contract used to undertake construction works by the private sector on large-scale and complex infrastructure projects. Under an EPC contract, a contractor is obliged to deliver a complete facility to a developer who needs only turn a key to start operating the facility, hence EPCC contracts are sometimes called turnkey construction contracts...

            </div>
            <div class="areadmore"><a href="https://quick-point.co.uk/Home/Article?id=LegalArticle1">Read More</a></div>
        </div>
        <div class="article">
            <div class="ahead"><a href="https://quick-point.co.uk/Home/Article?id=LegalArticle2">Reduction in the grant under the furlough scheme</a></div>
            <div class="abody">
                The Government previously announced that the salient features of the Furlough Scheme will continue unchanged until 31 July 2020. The Government will continue to pay 80% of an individual’s wages up to a maximum cap of 2,500 per month, together with national insurance costs and mandatory pension contributions on that salary...
            </div>
            <div class="areadmore"><a href="https://quick-point.co.uk/Home/Article?id=LegalArticle2">Read More</a></div>
        </div>
        <div class="article">
            <div class="ahead"><a href="https://quick-point.co.uk/Home/Article?id=LegalArticle3">Signing documents during the Covid-19 outbreak</a></div>
            <div class="abody">
                As a lot of legal professionals are working from home at the moment, one of the main questions is how to execute remotely documents that require signatures.

                An electronic signature can take a form of the typed name in the contract, pasting the signature in a form of an image into the contract, making a signature through Docu Sign or Adobe Sign, using a finger or stylus and touchscreen to sign electronically, scanning a printed document with a signature on it...
            </div>
            <div class="areadmore"><a href="https://quick-point.co.uk/Home/Article?id=LegalArticle3">Read More</a></div>
        </div>
        <div class="article">
            <div class="ahead"><a href="https://quick-point.co.uk/Home/Article?id=LegalArticle4">Self Employment Income Support Scheme (SEISS) What You Need To Know</a></div>
            <div class="abody">
                In response to COVID-19 pandemic, the government announced the Self-employed Income Support Scheme (SEISS) for those self-employed and members of partnerships whose income has been lost due to the coronavirus outbreak.

                This scheme will allow you to claim a taxable grant worth 80% of your trading profits up to a maximum of £2,500 a month, for 3 months (but may be extended)...
            </div>
            <div class="areadmore"><a href="https://quick-point.co.uk/Home/Article?id=LegalArticle4">Read More</a></div>
        </div>
        <div class="article">
            <div class="ahead"><a href="https://quick-point.co.uk/Home/Article?id=LegalArticle5">Tier 2 & Covid-19</a></div>
            <div class="abody">
                Recently, the government has issued immigration guidance for Tier 2, 4, 5 and sponsors in response to COVID-19, and as a managing partner at Sterling Law, I would like my Corporate clients to stay updated. This update is related to changes in reporting obligations of Sponsors, sick and furlough leave of the Tier 2 employees...
            </div>
            <div class="areadmore"><a href="https://quick-point.co.uk/Home/Article?id=LegalArticle5">Read More</a></div>
        </div>
        <div class="article">
            <div class="ahead"><a href="https://quick-point.co.uk/Home/Article?id=LegalArticle6">Force Majeure during the Corona virus outbreak</a></div>
            <div class="abody">
                A lot of businesses were affected by the Coronavirus outbreak in one way or another. The questions arise as to the rights and obligations in cases where the ability to perform under leases has been severely impaired. We will, therefore, try to explain the notion of force majeure under English Law and in which cases can it be invoked...
            </div>
            <div class="areadmore"><a href="https://quick-point.co.uk/Home/Article?id=LegalArticle6">Read More</a></div>
        </div>
        <div class="article">
            <div class="ahead"><a href="https://quick-point.co.uk/Home/Article?id=LegalArticle7">UK Intellectual Property Law in light of Covid-19 revised UK IPOS Practices</a></div>
            <div class="abody">
                COVID-19 is posing unprecedented challenges to all business aspects and areas of law, including Intellectual Property. Various Intellectual Property Offices (IPOs) across the globe have been adjusting the services they provide to the current circumstances. The UK IPO is not an exception and is alike considerate of the threats the pandemic poses to individuals and businesses in the UK. With an intent to ensure that those dealing with the UK IPO are not treated unfairly, the Office has made certain temporary alterations to its practices. Some information on the most notable changes introduced is digested below.
            </div>
            <div class="areadmore"><a href="https://quick-point.co.uk/Home/Article?id=LegalArticle7">Read More</a></div>
        </div>
        <div class="article">
            <div class="ahead"><a href="https://quick-point.co.uk/Home/Article?id=LegalArticle8">Force Majeure Clauses</a></div>
            <div class="abody">
                The coronavirus pandemic not only affected our day-to-day lives but also caused major damage to global supply chains. In March 2020 75% of companies reported some kind of disruption to their supply chain and especially delays on orders from China...
            </div>
            <div class="areadmore"><a href="https://quick-point.co.uk/Home/Article?id=LegalArticle8">Read More</a></div>
        </div>
        <div class="article">
            <div class="ahead"><a href="https://quick-point.co.uk/Home/Article?id=LegalArticle9">Can Tier 2 Employees Be Furloughed ?</a></div>
            <div class="abody">

                Recently, the Government introduced Coronavirus Job Retention Scheme which allows employers to put their employees on 80% salary (or a maximum of £2,500 gross per month, whichever is lower) furlough leave which subsequently will be reimbursed by the Government...
            </div>
            <div class="areadmore"><a href="https://quick-point.co.uk/Home/Article?id=LegalArticle9">Read More</a></div>
        </div>
        <div class="article">
            <div class="ahead"><a href="https://quick-point.co.uk/Home/Article?id=LegalArticle10">COVID-19 and claiming benefits</a></div>
            <div class="abody">
                There are simple platforms that allow you to sign documents and deeds. All the signatories will access the documents via a link. After the parties sign a document, the platform will receive core information such as the signatory’s email address, IP address, date and time of access. When all the signatures are complete, the document is saved as a read-only PDF. Even if any changes to it are made, later on, there will be highlights to them...
            </div>
            <div class="areadmore"><a href="https://quick-point.co.uk/Home/Article?id=LegalArticle10">Read More</a></div>
        </div>
        <div class="article">
            <div class="ahead"><a href="https://quick-point.co.uk/Home/Article?id=LegalArticle11">What Points should a Furlough Agreement Cover?</a></div>
            <div class="abody">
                During these times many directors will have to make an uneasy decision to furlough members of staff. In this scenario, employers have to follow a certain procedure, including the furlough agreement.
            </div>
            <div class="areadmore"><a href="https://quick-point.co.uk/Home/Article?id=LegalArticle11">Read More</a></div>
        </div>
    </div>
    <div style="width:100%; height:200px;"></div>

    <script>
        function myTaxAccFunction() {
            // Get the checkbox
            var checkBox = document.getElementById("tAc");
            // Get the output text
            var text = document.getElementById("taxacc");

            // If the checkbox is checked, display the output text
            if (checkBox.checked == true) {
                text.style.display = "none";

            }
            else if (checkBox.checked !== true) {
                text.style.display = "block";

            }
            else {
                text.style.display = "block";
            }
        }
    </script>
    <script>
        function myLegalFunction() {
            // Get the checkbox
            var checkBox = document.getElementById("leg");
            // Get the output text
            var text = document.getElementById("legal");

            // If the checkbox is checked, display the output text
            if (checkBox.checked == true) {
                text.style.display = "none";

            }
            else if (checkBox.checked !== true) {
                text.style.display = "block";

            }
            else {
                text.style.display = "block";
            }
        }
    </script>
