@{
    Layout = "~/Views/Shared/_LayoutSubscribe.cshtml";
    ViewBag.Title = "MeetTheTeam";
}

<head>
    @Styles.Render("~/Content/FormStyle.css")
    @Styles.Render("~/Content/Subscribe.css")
    <style>
    </style>


</head>

<section class="hero-section" id="hero">
    <div class="container">
        <div class="row">
            <div class="col-12 hero-text-image">
                <div class="row">
                    <div class="col-lg-5 iphone-wrap">
                        <a href="/Home/Index">
                            <img src="~/assets/images/Logo.svg" alt="" class="hero-section-img" />
                        </a>
                    </div>
                    <div class="col-lg-7 text-center text-lg-left" style="padding-top: 2rem;">
                        <h2 data-aos="fade-right">Contact Quick-Point</h2>
                        <p class="mb-4" data-aos="fade-right" data-aos-delay="100">
                            Subscribe to our mailing list for updates and news
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section><!-- End Hero -->

<main id="main">
    <!-- ======= Describe Section ======= -->
    @*<section class="section section-describe">

            <div class="container">
                <div class="row  mb-5">
                    <div class="col-md-6" data-aos="fade-up">
                        <div style="height:80px;">

                        </div>
                        <h2>Subscribe to our mailing list</h2>
                        @using (Html.BeginForm("Subscribe", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
                        {
                            <div>

                                <div class="field" tabindex="1">
                                    <label for="username">
                                        <i class="far fa-user"></i>Your Name
                                    </label>
                                    <input type="text" name="name" placeholder="e.g. Adam Smith" required />
                                </div>
                                <div class="field" tabindex="2">
                                    <label for="email">
                                        <i class="far fa-envelope"></i>
                                        Email:
                                    </label>
                                    <input type="email" name="email" placeholder="email@domain.com" required />
                                </div>
                                <input type="checkbox" name="checkbox" onclick="myFunction()" class="tcheckbox" id="tAc" style="width:15px; height:15px; margin-left:20px;" /><h6 style="font-weight:700; margin-left:15px;" id="writing">To subscribe, please tick to agree with our <a href="https://www.quick-point.co.uk/Home/Terms" style="text-decoration:underline;">Terms of Use and Privacy Policy</a></h6>
                                <br />
                                <input type="submit" value="Sign Up" id="submit" />

                            </div>
                            @ViewBag.Message
                        }

                    </div>
                    <div class="col-md-6">
                        <img src="~/Content/images/subscribe.jpg" style="height:500px; width:750px;" />
                    </div>
                </div>
            </div>
        </section>*@

</main>
@*https://codepen.io/MarinaKam/pen/RBPKgq*@
@using (Html.BeginForm("Contact", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <section id="fixed-form-container">
        <div class="button">Subscribe to Newsletter</div>
        <div class="body">

            <div class="form-group">
                <label for="name">Name:</label>
                <input type="text" class="form-control" id="name">
            </div>
            <div class="form-group">
                <label for="email">Email address:</label>
                <input type="email" class="form-control" id="email">
            </div>
            @*<div class="checkbox">
                    <label><input type="checkbox"> Remember me</label>
                </div>*@
            <button id="subBtn" type="button" class="btn btn-default">Subscribe!</button>
        </div>
    </section>
}


