@model Quick_Point.co.uk.ViewModels.Resource
@{
    ViewBag.Title = "FAQ";
}

    <section class="hero-section" id="hero">
        <div class="container" style="min-height:355px;">
            <div class="row">
                <div class="col-12 hero-text-image">
                    <div class="row">
                        <div class="col-lg-5 iphone-wrap">
                            <a href="/Home/Index">
                                <img src="~/assets/images/Logo2x.png" alt="" class="hero-section-img" />
                            </a>
                        </div>
                        <div class="col-lg-7 text-center text-lg-left">
                            <h1 data-aos="fade-right">Quick-Point Terms of Use </h1>
                            <p class="mb-4" data-aos="fade-right" data-aos-delay="100">
                                The Terms and Conditions of using this portal. 
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </section><!-- End Hero -->
<div class="container" style="padding-top:10px;">
    <div>
        Before proceeding, please review the below terms of use:

        <h4>Terms of Use (“Terms”)</h4>
        This Quick-Point Chat Service (or this "Website") is operated by Sterling & Beanland Limited and is for use by (i) certain personnel of Sterling Group of Companies ("Sterling") and its affiliates (each a "Sterling Firm" and collectively the "Sterling Groups") ("we") and (ii) clients or other parties that use this Website or are otherwise invited to use this Website by a Sterling Group of Companies ("you").
        Sterling Group of Companies (“Sterling Groups”) includes the following companies:
        <ul>
            <li>Sterling & Beanland Limited</li>
            <li>Sterling Lawyers Ltd</li>
            <li>Sterling & Law Associated LLP</li>
            <li>Schoolgate Accounting Services Limited</li>
        </ul>
        Your right to access and use the information on this Website is subject to your acceptance of the Terms of Use set out below on behalf of both yourself and the legal entity for which you work or represent as an employee, partner, director, principal or contractor or otherwise ("Company").
        By using this Website, you are agreeing to these Terms of Use. Therefore, these Terms shall be a legally binding agreement between you and Company on the one hand, and us on the other. If you do not agree to these Terms of Use, then you are not allowed to use this Website and should immediately terminate such usage.
        
        
        @*By clicking “Yes - I accept”, you are agreeing to these Terms of Use. If you do not agree to these Terms of Use, then you are not allowed to use this Website.*@
        If you have questions or require assistance, please contact our team @*at EMAIL*@
        Use of content and Website
        We grant you a limited, revocable, non-exclusive, non-assignable, non-sub-licensable right to access, view and use the information on the Website solely for the internal, informational and non-commercial purposes of the Company and, where the functionality is available, to download, copy and print forms, data and other material created by the proper use of the Website information (the "Output") subject to the Terms herein.
        You may not nor permit others to:
        <ol>
            <li> use, copy, distribute or transfer the Output except as expressly permitted by these Terms;</li>
            <li>sublicense, assign, rent or otherwise deal commercially in the Output;</li>
            <li>alter, adapt, merge or translate the Output for any purpose;</li>
            <li>incorporate any material from the Website in any other work, publications or website either of your own or belonging to any third party;</li>
            <li>remove, modify or obscure any copyright, trademark or other proprietary notice in relation to or appearing on or in the Output;</li>
            <li>reverse engineer, decompile or otherwise attempt to derive the source code for any underlying software related to this Website, or adapt, modify or create derivative works based on the Website or its underlying technology.</li>
        </ol>
        You will maintain the confidentiality of the Website information, and Output using at least the same degree of care as the Company uses in maintaining its own proprietary and/or confidential information, but in no event using less than a reasonable degree of care.
        You will comply with all laws applicable in accessing and using the Website and the Output, including all data privacy, copyright protection, export control and securities laws and regulations.
        Website content
        <br />
        The information contained in the Website and any Output is intended to provide general information only and is not an exhaustive treatment of the subjects. We do not provide any assurance that the information provided on this Website is a complete summary of all potentially relevant material.
        It has been prepared to provide a high-level overview based on Sterling Group’s understanding of current or proposed legislation, regulation and practices of the country concerned as at a particular point in time. You understand that legislation and administrative practices may change and that the relevant authorities may not agree with our interpretation. We make no representation as to the accuracy or suitability for your purposes of the information contained in this Website.
        Accordingly, the information in this Website does not constitute accounting, tax, legal, investment, consulting or other professional advice or services. Before making any decision or taking any action based on the information contained in the Website, which might affect the finances or business affairs or other operations of either (i) the Company or any of its affiliates or (ii) yourself or those you represent, you should consult a qualified professional adviser.
        Intellectual property
        <br />
        All intellectual property and other proprietary rights in the Website information and the Output are exclusively owned by us and are protected by international intellectual property laws and conventions. No intellectual property or other rights shall be transferred to you.
        <h3>Responsibility and liability</h3>
        You assume sole responsibility and risk for use of the Website, the Website information and the Output, each and all of which are provided on an "as is" and "as available" basis. Without limitation, we do not warrant that any information available on the Website or the Output will be error free or meet any particular criteria of performance or quality and any implied terms of fitness for a particular purpose, non-infringement, compatibility, security and accuracy are expressly excluded to the fullest extent permitted by law.
        To the fullest extent permitted by law, Sterling Group , its partners principals, members, owners, officers, directors, employees, subcontractors or agents will not be liable for any actual, direct, special, indirect, consequential or other loss, damage or expense of any kind arising out of or in connection with the use of the Website information and Output, however caused and whether arising under contract, tort, including without limitation negligence or otherwise.
        Your use of this Website is at your own risk and you assume full responsibility and risk of loss resulting from your usage, including, without limitation, with respect to loss of service or data. It is your responsibility to ensure the Website information and Output is suitable for your needs and is accurate and fit for any particular purpose. Use of the Output is at your sole risk.
        Certain links on this Website may lead to websites, resources or tools maintained by third parties over whom we have no control, including, without limitation, those maintained by other entities within the Sterling Group or individual personnel of such entities. Without limiting any of the foregoing, we make no express or implied representations or warranties whatsoever regarding such websites, resources and tools, and links to any such websites, resources and tools should not be construed as an endorsement of them or their content by us.
        If any of the above limitations of liability is invalid or unenforceable in any jurisdiction, then (i) in that jurisdiction it shall be re-construed to the maximum effect permitted by law to effect its intent as nearly as possible and the remaining terms shall remain in full force and effect, and (ii) in every other jurisdiction all of these terms shall remain in full force and effect.
        <h3> Access and availability </h3>
            It is your responsibility to ensure that you have software and hardware that are capable of effectively accessing this Website via an internet service provider. You are also responsible for all charges and necessary permissions related to accessing this Website through your internet provider.
            Your permission to access and use the Website will terminate automatically upon (i) your failure to comply with any of these Terms of Use or (ii) where notice in writing is given by a Sterling Group of Companies at any time.
            We reserve the right to modify, replace, refuse access to, suspend, limit, disable or discontinue this Website and its functionality, in whole or in part, in our sole discretion, with or without notice
            We may offer access to this Website through mobile applications created by us or third-party developers. If you use this Website through a mobile device, you agree that information about such usage may be communicated to us, including information about your mobile carrier, your mobile device, or your physical location. You are responsible for all charges and necessary permissions related to accessing this Website through your mobile access provider. Note that, by using any downloadable application to enable your use of this Website, you will be required to accept the terms of the end-user license agreement associated with the application.
            Privacy
            By using this Website you consent to the collection and use of information about you, as described in the Privacy Statement. For more information on how we handle your personal data please review our privacy policy HYPERLINKED
       <h4>Additional terms </h4>
            We may revise these Terms at any time in our sole discretion by posting such revised Terms in the Terms of Use link (i.e. this webpage that you are currently viewing) or elsewhere in this Website. Such revisions shall be effective as to you upon posting, unless explicitly stated by us. It is your responsibility to be aware of any such revised Terms of Use by checking this webpage. Your continued use of this Website following changes to these Terms of Use constitutes your agreement to the revised Terms of Use.
            These Terms constitute the full and complete agreement between you and Company on the one hand, and us on the other, with respect to the subject matter hereof, and supersede any oral and prior written agreements with respect to such subject matter.
            These Terms of Use are governed by the laws of England.

    </div>
</div>
